doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
        script(src="js/main.js")
    body
        .container.is-fluid


            nav.navbar
                .container
                    .navbar-brand
                        a.navbar-item(href="#") Pied Piper
                        a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                    .navbar-menu
                        .navbar-start
                            a.navbar-item(href="#") Features
                            a.navbar-item(href="#") Enterprise
                            a.navbar-item(href="#") Support
                            .navbar-item.has-dropdown.is-hoverable
                                a.navbar-link ICO
                                .navbar-dropdown
                                    a.navbar-item.navbar-item-dropdown(href="#") Whitepaper
                                    a.navbar-item.navbar-item-dropdown(href="#") Token
                        .navbar-end
                            .navbar-item
                                .buttons
                                    a.button.is-light(href="#") Log in
                                    a.button.is-primary(href="#") Sign up


            section.hero
                .hero-body
                    .container.has-text-centered
                        h2.subtitle.is-spaced The New Internet
                        h1.title We've built a decentralized internet where information is totally free
                        a(href="#") Read more &raquo;

            section.section
                .container.has-text-centered.py-4
                    h2.title.mb-6 Some of our awesome features

                    .block
                        img.is-16by9.mb-6(src="https://shuffle.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")

                    .columns.has-text-left.mb-6
                        .column.is-4
                            .columns
                                .column.is-2
                                    img(src="placeholder/icons/check.svg", alt="")
                                .column.is-10
                                    h4.title.is-spaced.is-4 Security
                                    p.subtitle.is-6 Your data is virtually unhackable compared to traditional net
                        .column.is-4
                            .columns
                                .column.is-2
                                    img(src="placeholder/icons/check.svg", alt="")
                                .column.is-10
                                    h4.title.is-spaced.is-4 Privacy
                                    p.subtitle.is-6 Nobody is tracking you when your activity when you use Piper Net
                        .column.is-4
                            .columns
                                .column.is-2
                                    img(src="placeholder/icons/check.svg", alt="")
                                .column.is-10
                                    h4.title.is-spaced.is-4 Speed
                                    p.subtitle.is-6 Previously unimaginable transfer speed thanks to middle-out compression

                    .buttons.is-centered
                        a.button.is-primary(href="#") Read more


            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 Some of our awesome features

                    .columns
                        .column.is-3
                            h4.title.is-spaced.is-4 Decentralized
                            p.subtitle.is-6 Your data is stored in many places at once. Awesome, right?
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Secure
                            p.subtitle.is-6 Nobody will be able to use your data without your consent.
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Private
                            p.subtitle.is-6 Your online activity is only yours to know. Always.
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Speed
                            p.subtitle.is-6 Unimaginable transfer speed thanks to middle-out compression.
                            a(href="#") Read more

            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 PiperNet Setup

                    .columns.is-vcentered
                        .column
                            h2.title.is-spaced How to start
                            p.subtitle Let's get you connected! We've designed a simple, efficient process for companies migrating to PiperNet. Here's how it works.
                            a.button.is-primary(href="#") Start Setup!
                        .column
                            img(src="https://shuffle.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt="")

                    hr.my-6

                    .level
                        .level-item
                            .number.has-background-primary 1
                            h4.title.is-4 Move
                        .level-item
                            .number 2
                            h4.title.is-4 Integrate
                        .level-item
                            .number 3
                            h4.title.is-4 Support

            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 Frequently Asked Questions

                    .panel
                        .panel-block.is-block.py-3.px-4
                            a.media(href="#")
                                .media-content How is a decentralized network different from the traditional web?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        .panel-block.is-block.py-3.px-4
                            a.media(href="#")
                                .media-content Why shouldn't I just store my data on a Hooli Box?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        .panel-block.is-block.py-3.px-4
                            a.media(href="#")
                                .media-content What makes PiperNet so safe?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        .panel-block.is-block.py-3.px-4
                            a.media(href="#")
                                .media-content How long does it take to get a company up and running on PiperNet?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        .panel-block.is-block.py-3.px-4
                            a.media(href="#")
                                .media-content How is a decentralized network different from the traditional web?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")
                        .panel-block.is-block.py-3.px-4
                            a.media(href="#")
                                .media-content Why shouldn't I just store my data on a Hooli Box?
                                .media-right
                                    img(src="placeholder/icons/chevron-circle-down.svg", alt="")

            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 Contact the Pied Piper team

                    .columns
                        .column.is-6
                            h4.title.is-spaced.is-4 Let's talk about the future of the internet
                            p.subtitle We're here to answer your questions and discuss the decentralized future of the internet.
                            div
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/map-marker.svg", alt="")
                                    .media-content
                                        .content
                                            p Pied Piper HQ - 59 Silicon Av.
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/phone.svg", alt="")
                                    .media-content
                                        .content
                                            p 555-333-555
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/envelope.svg", alt="")
                                    .media-content
                                        .content
                                            p pay-the-piper@piedpiper.com

                        .column.is-5.is-offset-1
                            form
                                .field
                                    .control
                                        input.input(type="email", placeholder="Email")
                                .field
                                    .select.is-fullwidth
                                        select
                                            option(disabled, selected) Select product
                                            option Product 1
                                            option Product 2
                                            option Product 3
                                .field
                                    .control
                                        textarea.textarea(rows="5", placeholder="Write something...")
                                
                                .field
                                    .control
                                        button.button.is-primary.is-fullwidth(type="submit") Submit

            section
                .notification
                    button.delete
                    h3.title Cookie Policy
                    p.subtitle We use cookies to personalise content, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners. If you want to change your cookie setting, please see the ‘how to reject cookies' section of our #[a(href="#") Cookie Policy]. Otherwise, if you agree to our use of cookies, please continue to use our website.
                    button.button.is-primary I accept cookies

            footer.footer
                .container
                    .level
                        .level-left
                            .level-item
                                a.title.is-4(href="#") Pied Piper
                        .level-right
                            a.level-item(href="#") Features
                            a.level-item(href="#") Enterprise
                            a.level-item(href="#") Support
                            a.level-item(href="#") ICO

                    hr

                    .columns
                        .column
                            .buttons
                                a.button(href="#")
                                    img(src="placeholder/icons/twitter.svg", alt="")
                                a.button(href="#")
                                    img(src="placeholder/icons/facebook-f.svg", alt="")
                                a.button(href="#")
                                    img(src="placeholder/icons/instagram.svg", alt="")

                        .column.has-text-centered.has-text-right-tablet
                            p.subtitle.is-6 &copy; 2020 Pied Piper. All right reserved.