// Keep footer at the bottom
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    font-family: "segoe-ui";
}

body .site-content {
    flex: 1;
}

@font-face {
    font-family: "SourceSansPro";
    src: url("/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "logo-font";
    src: url("/fonts/OpenSeason_filled.otf") format("truetype");
}

$family-primary: "logo-font", sans-serif;
$family-sans-serif: "SourceSansPro", sans-serif;

.logo-font {
    @extend .title;
    font-family: $family-primary;
}

.border-color-primary-dark {
    border: 1px solid $primary-dark;
}

figure.image-size-max-120 img {
    max-width: 120px;
    max-height: 120px;
}

.image.is-2by3.resize-66-percent img {
    height: 66%;
    width: auto;
}

/* Reverse column order when needed.
*  For example to have table of content on right side on desktop, but on top on mobile
*  Snippet provided by jvarness https://github.com/jgthms/bulma/issues/297#issuecomment-499961774
*/
@include mobile {
    .columns.is-reversed-mobile {
        display: flex;
        flex-direction: column-reverse;
    }
}

@include desktop {
    .resize-50-percent.image img {
        // display: block;
        // height: auto;
        width: 50%;
    }
}

/*
*  Enable smooth scrolling for all elements
*/
* {
    scroll-behavior: smooth;
}

/*
*  Make image unselectable and hence undraggable
*/
.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input#newsletter:focus {
    border-color: $primary-dark !important;
}

// Set padding only on Firefox
@supports (-moz-appearance: none) {
    .padding-left-blog-list {
        padding-left: 3rem !important;
    }
}

@media screen and (max-width: 767px) {
    .px-6 {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
}
