---
layout: default
title: Blog & News
---

<section class="section has-background-primary is-fullheight">
    {% include title-h2.html text="Blog & News" %}

    <!-- Search bar -->
    <div class="field is-pulled-right">
        <p class="control has-icons-left">
            <input
                class="input"
                type="text"
                placeholder="Suche"
            >
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>

    <br>
    <br>
    <!-- Category labels -->
    <div class="buttons">
        {% for category in site.categories %}
        <button class="button is-info">{{ category | first }}</button>
        {% endfor %}
    </div>

    <!-- Post-grid -->
    <div class="columns is-multiline my-3 mb-6 padding-left-blog-list">
        {% for post in site.posts %}
        <div class="column is-half-tablet is-one-third-widescreen">
            <a href="{{ post.url }}">
                {% if post.hidden != null and post.hidden != true %}
                {% include blog-post-tile.html %}
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</section>