---
layout: default
title: navigation_headlines.faq

namespace: faq
permalink: /faq/
permalink_en: /faq/
---

<section
    class="section"
    data-category="faqs"
>
    <div class="container py-4">
        <h2
            class="title has-text-centered mb-6"
            data-config-id="header"
        >
            {% t page.title %}
        </h2>

        <div class="mb-6">
            {% for question in site.faq %}
            {% if question.hidden != true %}
            <div class="card block has-box-shadow-hover-effect has-background-primary">
                {% if site.lang == "de" %}
                {% capture faq_link_to_post %}{{ question.url }}{% endcapture %}
                {% elsif site.lang == "en" %}
                {% capture faq_link_to_post %}/{{ site.lang }}{{ question.permalink_en }}{% endcapture %}
                {% else %}
                {% capture faq_link_to_post %}{{ site.baseurl }}{{ question.url }}{% endcapture %}
                {% endif %}

                <a href="{{ faq_link_to_post }}">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left pl-6-desktop">
                                <!-- Might as well provide a graphic instead of padding -->
                            </div>
                            <div class="media-content">
                                <h3 class="title is-4">"{% t {{ question.title }} %}"</h3>
                                <p>{{ question.excerpt | strip_html }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="is-flex is-justify-content-center">
            <a
                id="faq-contact-button"
                class="button is-primary wrap-button-text"
                href="/#contact"
            >{% t buttons.faq_get_in_touch %}</a>
        </div>
    </div>
</section>