---
layout: default
title: codeklasse
---

<section
  id="title-section"
  class="is-fullheight px-6-desktop mx-6-desktop px-4-mobile"
>
  {% include front-page-title-section.html %}
</section>

<section
  id="what-is-codeklasse-front-page"
  class="section"
>
  <div class="has-text-centered mb-5">
    {% include title-h2.html text="Was ist codeklasse eigentlich?" %}

    <img
      class="svg-arrow rotate-180deg"
      src="/assets/images/arrows/up-broken-line-arrow-svgrepo-com.svg"
    >
    </img>
  </div>

  {% include front-page-what-is-codeklasse.html %}
</section>

<section
  id="partners-and-sponsors-front-page"
  class="section has-background-white mt-6 mx-6-desktop mx-3-tablet mx-5-mobile"
>
  <div class="has-text-centered">
    {% include title-h2.html text="Unsere Partner & Förderer" %}
  </div>

  {% include sponsors-and-partners.html %}
</section>

<section
  id="why-use-codeklasse-front-page"
  class="section mt-5"
>
  {% include why-use-codeklasse.html %}

  <div class="centered-call-to-action-button mt-6">
    <a
      class="button wrap-button-text is-primary is-medium mb-3"
      href="/#contact"
    >
      <p>Jetzt in <span class="has-text-weight-bold">Kontakt treten</span></p>
    </a>

    <p>oder <a
        href="/#why-use-codeklasse-front-page"
        class="has-text-weight-bold is-underlined"
      > andere Perspektive betrachten</a></p>
  </div>
</section>

<div class="has-text-centered mb-4">
  {% include title-h2.html text="Wer steckt hinter dem Projekt?" %}
</div>

<p class="mb-5">
  codeklasse sind Liam & Sergej.
  codeklasse ist ein junges Team aus Bochum.
  Wir wollen was verändern.
  Dafür brauchen brauchen Dich!
  Bist du der Meinung das Programmieren in Grundschulen vertreten sein sollte?
  Meld Dich gern und lass es uns angehen!
</p>

{% include front-page-about-us.html %}
</section>

<section
  id="faq-front-page"
  class="section mx-6-desktop mx-5-tablet mx-5-mobile"
>
  <div class="has-text-centered mb-6">
    {% include title-h2.html text="Noch Fragen offen?" %}
  </div>

  {% include front-page-faq.html %}
</section>

<section
  id="blog-and-news-front-page"
  class="section is-fullheight"
>
  <div class="has-text-centered mb-6">
    {% include title-h2.html text="Blog & News" %}
  </div>

  <div class="columns is-multiline">
    {% for post in site.posts limit:3 %}
    <div class="column is-one-quarter-desktop is-half-tablet is-one-third-widescreen">
      <a href="{{ post.url }}">
        {% if post.hidden != null and post.hidden != true %}
        {% include blog-post-tile.html %}
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>

  <h4 class="subtitle is-4 has-text-right is-underlined">
    <a href="/blog">..alle Artikel im codeklasse Blog</a>
  </h4>
</section>

<section
  id="contact"
  class="section"
>
  {% include contact-form.html %}
</section>

<style>
  #blogpost-teaser.is-overlay {
    /* transition: 1s ease-in-out; */
    /* Quicker transition speed is desired according to Liam -> We'll see & test. */
    transition: .5s ease-in-out;
  }
</style>

<script>
  /* 
   * Trying to silence all iFrame console outputs, however missing fonts etc. don't seem to be affected.
   * Anyhow, thanks to https://stackoverflow.com/a/64317635/11515036 
   */
  const iframes = Array.from(document.getElementsByTagName('iframe'));

  for (const item of iframes) {
    item.contentWindow.console.log = () => { /* nop */ };
    item.contentWindow.console.warn = () => { /* nop */ };
    item.contentWindow.console.error = () => { /* nop */ };
  }
</script>