---
layout: default
title: codeklasse
---

<section
  id="title-section"
  class="has-background-primary is-fullheight px-6-desktop mx-6-desktop px-4-mobile"
>
  <div class="columns is-flex-direction-column mt-6 px-4-mobile">
    <p
      id="title-teaser-text"
      class="title column is-offset-1 is-two-thirds-tablet px-5-desktop py-6-tablet pt-4-mobile pb-6-mobile has-background-white has-border"
    >
      Unsere Vision ist, dass jedes Kind vor der 4. Klasse programmieren lernt.
    </p>

    <div class="column is-12 py-6"></div>
  </div>

  <div>
    <img
      id="title-teaser-image"
      src="assets/images/codeklasse-landing-sm.png"
    >

    <div id="title-teaser-call-to-action-button">
      <a
        class="button wrap-button-text is-white is-medium mb-3"
        href="/#contact"
      >
        <p>Jetzt in <span class="has-text-weight-bold">Kontakt treten</span></p>
      </a>

      <p>oder <a
          href="/#faq-front-page"
          class="has-text-weight-bold is-underlined"
        > häufige Fragen lesen </a></p>
    </div>
  </div>
</section>

<section
  id="partners-and-sponsors-front-page"
  class="section has-background-white has-border mt-6 mx-6-desktop mx-3-tablet mx-5-mobile"
>
  {% include title-h2.html text="Unsere Partner & Förderer" %}

  <div
    id="sponsors-and-partners"
    class="columns is-vcentered is-multiline pb-1"
  >
    <div class="column center-content is-one-quarter-desktop is-half-tablet">
      <figure class="image sponsors-and-partners-image">
        <a
          href="https://www.gruenderstipendium.nrw/gruenden"
          target="_blank"
        >
          <img
            src="assets/images/partners-and-sponsors/GSN.png"
            alt="Logo vom Gründerstipendium NRW"
          >
        </a>
      </figure>
    </div>

    <div class="column center-content is-one-quarter-desktop is-half-tablet">
      <figure class="image sponsors-and-partners-image">
        <a
          href="https://www.werk-x.ruhr"
          target="_blank"
        >
          <img
            src="assets/images/partners-and-sponsors/WERKX-Stempel.png"
            alt="Logo vom Bochumer Startup Inkubator Werk-X"
          >
        </a>
      </figure>
    </div>

    <div class="column center-content is-one-quarter-desktop is-half-tablet">
      <figure class="image sponsors-and-partners-image">
        <a
          href="https://www.hochschule-bochum.de"
          target="_blank"
        >
          <img
            src="assets/images/partners-and-sponsors/BO-Logo_m_Wortmarke_L10cmWebHQ.jpg"
            alt="Logo der Hochschule Bochum"
          >
        </a>
      </figure>
    </div>

    <div class="column center-content is-one-quarter-desktop is-half-tablet">
      <figure class="image sponsors-and-partners-image">
        <a
          href="https://www.rv-startupcampus.de"
          target="_blank"
        >
          <img
            src="assets/images/partners-and-sponsors/RVSC.png"
            alt="Logo vom Ruhr Valley Startup Campus"
          >
        </a>
      </figure>
    </div>
  </div>
</section>

<section
  id="why-use-codeklasse-front-page"
  class="section mt-5"
>
  {% include why-use-codeklasse.html %}
</section>

<section
  id="faq-front-page"
  class="section has-background-white has-border mt-6-desktop mx-6-desktop mx-5-tablet mx-5-mobile"
>
  {% include title-h2.html text="Fragen und Antworten" %}

  <div class="columns">
    <div class="column is-9">
      <h4 class="subtitle is-4 has-text-weight-semibold">Was kann man mit codeklasse machen?</h4>
      <p class="content">
        codeklasse ist eine vollumfängliche Programmier-Lernsoftware für Kinder der 1. bis 6. Klasse.
        Sie ermöglicht nicht nur das eigenverantwortliche Lernen der Schülerinnen und Schüler,
        sondern stellt auch vorgefertigte Kampagnen und Hilfsmaterialien für Lehrerinnen und Lehrer bereit,
        um die Unterrichtsvorbereitung und die Vermittlung des Themas "Programmieren Lernen" zu erleichtern.</p>
    </div>
    <div class="column center-content">
      <figure class="image m-auto">
        <img src="assets/images/faq/was-kann-man-mit-codeklasse-machen.png">
      </figure>
    </div>
  </div>

  <div class="columns">
    <div class="column is-9">
      <h4 class="subtitle is-4 has-text-weight-semibold">Muss ich selbst programmieren können?</h4>
      <p class="content">
        Nein. codeklasse ist bewusst so konzipiert, dass nicht nur Kinder,
        sondern auch auch fachfremde Lehrerinnen und Lehrer programmieren lernen können.
        Unsere Plattform stellt einsatzbereite Kurse und moderne Lehrmaterialien bereit,
        die SuS sowie KuK gleichermaßen den einfachen, frustfreien Zugang zum Thema Programmierung ermöglicht.</p>
    </div>
    <div class="column center-content">
      <figure class="image m-auto">
        <img src="assets/images/faq/muss-ich-selbst-programmieren-können.png">
      </figure>
    </div>
  </div>

  <div class="columns">
    <div class="column is-9">
      <h4 class="subtitle is-4 has-text-weight-semibold">Wie kann ich codeklasse in meinen Unterricht einbringen?
      </h4>
      <p class="content">
        codeklasse ist zum aktuellen Zeitpunkt noch nicht veröffentlicht.
        Bitte <a class="is-underlined" href="/#contact">kontaktieren</a> Sie uns dennoch, wenn Sie Interesse daran haben
        codeklasse zu testen oder an Ihrer Schule einzuführen – wir freuen uns immer über neue Partnerschaften,
        mit denen wir codeklasse testen und pädagogisch sowie technisch weiterentwickeln können.</p>
    </div>
    <div class="column center-content">
      <figure class="image m-auto">
        <img src="assets/images/faq/wie-kann-ich-codeklasse-in-meinem-unterricht-einbringen.png">
      </figure>
    </div>
  </div>

  <h4 class="subtitle is-4 has-text-right is-underlined">
    <a href="/faq">...weitere Fragen und Antworten</a>
  </h4>
</section>

<section
  id="blog-and-news-front-page"
  class="section mt-6 is-fullheight"
>
  {% include title-h2.html text="Blog & News" %}

  <div class="columns is-multiline">
    {% for post in site.posts limit:3 %}
    <div class="column is-one-quarter-desktop is-half-tablet is-one-third-widescreen">
      <a href="{{ post.url }}">
        {% if post.hidden != null and post.hidden != true %}
        {% include blog-post-tile.html %}
        {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>

  <h4 class="subtitle is-4 has-text-right is-underlined">
    <a href="/blog">..alle Artikel im codeklasse Blog</a>
  </h4>
</section>

<section
  id="contact"
  class="section"
>
  {% include contact-form.html %}
</section>

<style>
  #blogpost-teaser.is-overlay {
    /* transition: 1s ease-in-out; */
    /* Quicker transition speed is desired according to Liam -> We'll see & test. */
    transition: .5s ease-in-out;
  }
</style>