<form class="ml-subscribe-form ml-block-form">
    <div class="field control has-icons-left has-icons-right mt-6">

        <input class="input" type="email" placeholder="max@musterfrau.de">

        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>

        <span class="icon is-large is-right">
            <i class="fas fa-check fa-lg"></i>
        </span>
    </div>

    <div class="is-third control is-expanded">
        <p class="control">
            
		    <input type="hidden" name="ml-submit" value="1">
            <div class="is-third control is-expanded ml-form-embedSubmit">
                <button type="submit" class="button primary is-info-inverted is-fullwidth">Newsletter abonnieren</button>
                <button disabled="disabled" style="display:none" type="button" class="loading">
                    <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Loading...</span> 
                </button>
            </div>
            <input type="hidden" name="anticsrf" value="true">

        </p>
    </div>
</form>