<div class="card why-use-codeklasse my-6">
    <div class="card-content">

        <p class="title is-4 pt-5-desktop pt-2-tablet">{{ include.fact }}</p>
        <div class="columns is-multiline">
            <div class="column is-half-tablet">
                <p class="subtitle content is-6 mt-3">{{ include.fact_subtext }}</p>
            </div>

            <div class="column">
                <figure class="image is-4by3">
                    <img
                        src="{{ include.img_url }}"
                        alt="{{ include.img_alt }}"
                        style="object-fit: cover;"
                    >
                </figure>
            </div>
        </div>
    </div>
</div>