<h3
    id="contact-form"
    class="title is-3 is-size-4-mobile is-spaced mb-2"
>{% t contact_form.form %}</h3>
<p class="subtitle">{% t contact_form.form_subtext %}</p>

<form
    name="contact"
    method="post"
    data-netlify="true"
>
    <div class="field">
        <label
            for="name"
            class="label is-size-4 has-text-weight-light"
        ></label>
        <div class="control has-icons-left">
            <input
                type="text"
                name="name"
                id="name"
                class="input name"
                placeholder="{% t contact_form.form_name %}"
                required
            >
            <img
                class="icon is-left fontawesome-icon ml-3"
                src="/assets/css/fontawesome-free-svgs/solid/user.svg"
            >
        </div>
    </div>

    <div class="field">
        <label
            for="email"
            class="label is-size-4 has-text-weight-light"
        ></label>
        <div class="control has-icons-left">
            <input
                type="email"
                name="email"
                id="email"
                class="input email"
                placeholder="{% t contact_form.form_email %}"
                required
            >
            <img
                class="icon is-left fontawesome-icon ml-3"
                src="/assets/css/fontawesome-free-svgs/solid/envelope.svg"
            >
        </div>
    </div>

    <div class="field">
        <label
            for="phone"
            class="label is-size-4 has-text-weight-light"
        ></label>
        <div class="control has-icons-left">
            <input
                type="phone"
                name="phone"
                id="phone"
                class="input"
                placeholder="{% t contact_form.form_optional_phone_number %}"
            >
            <img
                class="icon is-left fontawesome-icon ml-3"
                src="/assets/css/fontawesome-free-svgs/solid/phone-alt.svg"
            >
        </div>
    </div>

    <div class="field">
        <label
            for="message"
            class="label is-size-4 has-text-weight-light"
        ></label>
        <textarea
            name="message"
            id="message"
            rows="5"
            class="textarea is-medium message"
            placeholder="{% t contact_form.form_message %}"
            required
        ></textarea>
    </div>

    <div
        id="contact-checkbox-field"
        class="field"
    >
        <label class="checkbox">
            <input
                id="contact-checkbox"
                name="contact-checkbox"
                type="checkbox"
                required
            >
            {% t contact_form.form_privacy_confirmation_before_link %} <a
                class="is-underlined"
                href="{{ site.lang | prepend: "/" }}/privacy"
                target="_blank"
            >{% t contact_form.form_privacy_confirmation_link %}</a>. {% t contact_form.form_privacy_confirmation_after_link %}
        </label>
    </div>

    <button
        type="submit"
        class="button is-primary is-size-5"
        onClick="submitCheck()"
    >{% t contact_form.form_send_button %}</button>
    <p
        id="submitActionHint"
        class="help is-danger nezobrazovat"
        style="display: none"
    >{% t contact_form.form_hint_fill_out_all_fields %}</p>
</form>


<style>
    .fontawesome-icon {
        width: 1rem !important;
        border: none;
        /* The color attribute doesn't seem to apply in the case of svg.
             Opacity seems to be easier than using the filter attribute
             https://stackoverflow.com/questions/22252472/
           */
        opacity: 0.65;
    }
</style>

<script>
    const submit = document.getElementById("submitButton");
    const inputName = document.getElementById("name");
    const inputEmail = document.getElementById("email");
    const inputMessage = document.getElementById("message");
    const fieldPrivacyNotice = document.getElementById("contact-checkbox-field");
    const checkboxPrivacyNotice = document.getElementById("contact-checkbox");
    const submitMessage = document.getElementById("submitActionHint");

    let nameValidated = false;
    let emailValidated = false;
    let messageValidated = false;
    let privacyNoticeValidated = false;

    const MAXCHARNAMEFIELD = 40;

    function validateRegexString(email) {
        const regexString =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        return regexString.test(String(email).toLowerCase()); // true|false
    }

    function validateName() {
        var regexString =
            /^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u; //words separated by space

        const conditions =
            inputName.value.length < MAXCHARNAMEFIELD &&
            inputName.value != null &&
            regexString.test(inputName.value); //test for regex string

        if (conditions) {
            inputName.classList.remove("is-danger");

            nameValidated = true;
            submitMessage.style = "display:none";
        } else {
            inputName.classList.add("is-danger");

            submitMessage.style = "display:block";
            nameValidated = false;
        }
    }

    function validateEmail(value) {
        if (validateRegexString(value)) {

            inputEmail.classList.remove("is-danger");

            submitMessage.style = "display:none";
            emailValidated = true;
        } else {
            inputEmail.classList.add("is-danger");

            emailValidated = false;
        }
    }

    function validateMessage() {
        if (inputMessage.value) {
            inputMessage.classList.remove("is-danger");

            messageValidated = true;
        } else {
            inputMessage.classList.add("is-danger");

            messageValidated = false;
        }
    }

    function validatePrivacyCheckbox() {
        if (checkboxPrivacyNotice.checked) {
            fieldPrivacyNotice.classList.remove("has-background-danger-light");

            privacyNoticeValidated = true;
        } else {
            fieldPrivacyNotice.classList.add("has-background-danger-light");

            privacyNoticeValidated = false;
        }
    }

    const checkFields = () => {
        if (nameValidated && emailValidated && messageValidated && privacyNoticeValidated) {
            submitMessage.style = "display:none";
        } else {
            submitMessage.style = "display:block";
        }
    };

    const submitCheck = () => {
        validateName();
        validateEmail();
        validateMessage();
        validatePrivacyCheckbox();
        checkFields();
    }

    document.addEventListener(
        "change",
        (event) => {
            // console.log(event);
            if (event.target.matches(".name")) {
                validateName();
                checkFields();
            } else if (event.target.matches(".email")) {
                validateEmail(event.target.value);
                checkFields();
            } else if (event.target.matches(".message")) {
                validateMessage();
                checkFields();
            } else if (event.target.name === "contact-checkbox") {
                validatePrivacyCheckbox();
                checkFields();
            }
            else {
                //nothing
            }
        },
        false
    );
</script>