<!-- This form relies on Netlify and thus only works online -> No support for a local setup -->
<div class="has-text-centered mb-6">
  {% include title-h2.html text="contact_form.title" is_translate_key=true %}
  <p class="subtitle">{% t contact_form.subtitle %}</p>
</div>

<div
  id="contact-section"
  class="card has-background-primary"
>
  <div class="card-content">
    <div class="container my-5-tablet mx-5-desktop px-5-desktop">
      <div class="tabs is-centered">
        <ul>
          <li
            id="Tab-Button-Schedule-Appointment"
            class="content-switcher-contact-form"
            onclick="openTab_ContactForm('Tab-Schedule-Appointment')"
          ><a>{% t contact_form.scheduler %}</a></li>
          <li
            id="Tab-Button-Contact-Form"
            class="content-switcher-contact-form"
            onclick="openTab_ContactForm('Tab-Contact-Form')"
          ><a>{% t contact_form.form %}</a></li>
        </ul>
      </div>

      <div
        id="Tab-Schedule-Appointment"
        class="content-tab-contact-form pb-6"
      >
        <h3 class="title is-3 is-size-4-mobile is-spaced mb-2">{% t contact_form.scheduler %}</h3>
        <p class="subtitle">{% t contact_form.scheduler_subtext %}</p>
        <iframe
          src="https://app.simplymeet.me/grilborzer?view=compact"
          style="width:100%; height:550px;"
          frameborder="0"
          scrolling="yes"
        ></iframe>
      </div>

      <div
        id="Tab-Contact-Form"
        class="content-tab-contact-form"
      >
        {% include contact-section-form.html %}
      </div>
    </div>
  </div>
</div>

<script>
  // Shamelessly copied from https://codepen.io/t7team/pen/ZowdRN - thanks for that!
  // Initialize tab with a category
  openTab_ContactForm('Tab-Schedule-Appointment');

  function openTab_ContactForm(tabName) {
    let i, x, tabButtons;

    x = document.getElementsByClassName("content-tab-contact-form");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }

    tabButtons = document.getElementsByClassName("content-switcher-contact-form");
    for (i = 0; i < x.length; i++) {
      tabButtons[i].className = tabButtons[i].className.replace(" is-active", "");
    }

    document.getElementById(tabName).style.display = "block";

    switch (tabName) {
      case "Tab-Schedule-Appointment":
        document.getElementById("Tab-Button-Schedule-Appointment").className += " is-active";
        break;

      case "Tab-Contact-Form":
        document.getElementById("Tab-Button-Contact-Form").className += " is-active";
        break;

      default:
        break;
    }
  }
</script>