<div class="has-text-centered mb-6">
  {% include title-h2.html text="contact_form.title" is_translate_key=true %}
  <p class="subtitle">{% t contact_form.subtitle %}</p>
</div>

<div
  id="contact-section"
  class="card has-background-primary"
>
  <div class="card-content">
    <div class="container my-5-tablet mx-5-desktop px-5-desktop">
      Liebe Besucher und Besucherinnen, aktuell ist das Projekt codeklasse auf unbestimmte Zeit pausiert.
      Bei Fragen und Anregungen können Sie uns natürlich trotzdem unter team [at] codeklasse.de erreichen.

      Wir bedanken und bis hierhin für die Unterstützung und verbleiben mit besten Grüßen aus Bochum
      - Liam & Sergej
      </div>
  </div>
</div>

