<div class="has-text-centered">
    <p class="mb-5">
        codeklasse sind Liam & Sergej.
        codeklasse ist ein junges Team aus Bochum.
        Wir wollen was verändern.
        Dafür brauchen brauchen Dich!
        Bist du der Meinung das Programmieren in Grundschulen vertreten sein sollte?
        Meld Dich gern und lass es uns angehen!
    </p>

<!--     <img
        class="svg-arrow rotate-180deg"
        src="/assets/images/arrows/up-broken-line-arrow-svgrepo-com.svg"
    >
    </img> -->

    <figure class="image is-16by9 mx-auto mt-6">
        <iframe
            class="has-ratio"
            src="https://www.youtube-nocookie.com/embed/GDnIxWK_Z4Q"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </figure>
</div>
