<div class="has-text-centered">
    <p class="mb-5">
        {% t front_page.subtitle_what_is_codeklasse %}
      </p>

    <figure class="image is-16by9 mx-auto mt-6">
        <iframe
            class="has-ratio"
            src="https://www.youtube-nocookie.com/embed/GDnIxWK_Z4Q"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </figure>
</div>
