<div class="columns">
    <div class="column"></div>

    <figure class="column is-5 image">
        <iframe
            class="has-ratio is-fullwidth-and-height"
            src="https://www.youtube-nocookie.com/embed/GDnIxWK_Z4Q"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </figure>

    <div
        class="columns"
        style="margin-top: -16rem;"
    >

        <div class="column is-6 card has-background-primary">
            <div class="card-content has-text-centered">
                <p class="title is-5 is-clipped">codeklasse ist eine Programmier Lernplattform für Kinder zwischen 6 und
                    10
                    Jahren.</p>

                <figure class="image is-16by9">

                </figure>
            </div>
        </div>
    </div>
</div>