<div class="card has-background-primary">
    <div class="card-content">
        <div class="columns">
            <div class="column is-9">
                <h4 class="subtitle is-4 has-text-weight-semibold">Was kann man mit codeklasse machen?</h4>
                <p class="content">
                    codeklasse ist eine vollumfängliche Programmier-Lernsoftware für Kinder der 1. bis 6. Klasse.
                    Sie ermöglicht nicht nur das eigenverantwortliche Lernen der Schülerinnen und Schüler,
                    sondern stellt auch vorgefertigte Kampagnen und Hilfsmaterialien für Lehrerinnen und Lehrer bereit,
                    um die Unterrichtsvorbereitung und die Vermittlung des Themas "Programmieren Lernen" zu erleichtern.
                </p>
            </div>
            <div class="column center-content">
                <figure class="image m-auto">
                    <img src="assets/images/faq/was-kann-man-mit-codeklasse-machen.png">
                </figure>
            </div>
        </div>

        <div class="columns">
            <div class="column is-9">
                <h4 class="subtitle is-4 has-text-weight-semibold">Muss ich selbst programmieren können?</h4>
                <p class="content">
                    Nein. codeklasse ist bewusst so konzipiert, dass nicht nur Kinder,
                    sondern auch auch fachfremde Lehrerinnen und Lehrer programmieren lernen können.
                    Unsere Plattform stellt einsatzbereite Kurse und moderne Lehrmaterialien bereit,
                    die SuS sowie KuK gleichermaßen den einfachen, frustfreien Zugang zum Thema Programmierung
                    ermöglicht.
                </p>
            </div>
            <div class="column center-content">
                <figure class="image m-auto">
                    <img src="assets/images/faq/muss-ich-selbst-programmieren-können.png">
                </figure>
            </div>
        </div>

        <div class="columns">
            <div class="column is-9">
                <h4 class="subtitle is-4 has-text-weight-semibold">Wie kann ich codeklasse in meinen Unterricht
                    einbringen?
                </h4>
                <p class="content">
                    codeklasse ist zum aktuellen Zeitpunkt noch nicht veröffentlicht.
                    Bitte <a
                        class="is-underlined"
                        href="/#contact"
                    >kontaktieren</a> Sie uns dennoch, wenn Sie Interesse daran haben
                    codeklasse zu testen oder an Ihrer Schule einzuführen – wir freuen uns immer über neue
                    Partnerschaften,
                    mit denen wir codeklasse testen und pädagogisch sowie technisch weiterentwickeln können.</p>
            </div>
            <div class="column center-content">
                <figure class="image m-auto">
                    <img src="assets/images/faq/wie-kann-ich-codeklasse-in-meinem-unterricht-einbringen.png">
                </figure>
            </div>
        </div>

        <h4 class="subtitle is-4 has-text-right is-underlined">
            <a href="/faq">...weitere Fragen und Antworten</a>
        </h4>
    </div>
</div>