<div class="columns is-flex-direction-column px-4-mobile">
    <p
        id="title-teaser-text"
        class="title column is-offset-1 is-two-thirds-tablet px-5-desktop py-6-tablet pt-4-mobile pb-6-mobile has-background-primary has-border has-box-shadow"
    >
        {% t front_page.exclamation_introduction %}
    </p>

    <div class="column is-12 py-6"></div>
</div>

<div>
    <img
        id="title-teaser-image"
        src="/assets/images/codeklasse-landing-sm.png"
    >

    <div class="title-teaser centered-call-to-action-button">
        <a
            class="button wrap-button-text is-primary is-medium mb-3"
            href="{{ site.lang | prepend: "/" }}#contact"
        >
            <p class="has-text-weight-bold">{% t buttons.get_in_touch_now %}</p>
        </a>

        <p>{% t buttons.read_faqs_pretext %} <a
                href="{{ site.lang | prepend: "/" }}#faq-front-page"
                class="has-text-weight-bold is-underlined"
            > {% t buttons.read_faqs_call_to_action %} </a></p>
    </div>
</div>