<div class="columns is-flex-direction-column px-4-mobile">
    <p
        id="title-teaser-text"
        class="title column is-offset-1 is-two-thirds-tablet px-5-desktop py-6-tablet pt-4-mobile pb-6-mobile has-background-primary has-border has-box-shadow"
    >
        Noch nie war Programmieren lernen so leicht.
    </p>

    <div class="column is-12 py-6"></div>
</div>

<div>
    <img
        id="title-teaser-image"
        src="assets/images/codeklasse-landing-sm.png"
    >

    <div class="title-teaser centered-call-to-action-button">
        <a
            class="button wrap-button-text is-primary is-medium mb-3"
            href="/#contact"
        >
            <p>Jetzt in <span class="has-text-weight-bold">Kontakt treten</span></p>
        </a>

        <p>oder <a
                href="/#faq-front-page"
                class="has-text-weight-bold is-underlined"
            > häufige Fragen lesen </a></p>
    </div>
</div>