<head>
    <meta charset="utf-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >
    <title>{{ page.title }}</title>
    <link
        rel="stylesheet"
        href="/assets/css/main.css"
    >
    <!-- Thank you https://favicon.io/favicon-converter/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">

    {% if site.lazyimages == "enabled" %}
    <script
        type="text/javascript"
        src="/assets/js/lazyload.js"
    ></script>
    {% endif %}
    
    <script defer data-domain="codeklasse.de" src="https://plausible.io/js/plausible.js"></script>

    {% seo %}
</head>
