<!-- Make it sticky: navbar is-fixed-top AND "has-navbar-fixed-top" on parent HTML to adjust for padding -->
<nav
    id="main-navbar"
    class="navbar is-fixed-top is-primary"
>
    <div class="is-flex p-3 is-align-items-center">
        <a
            class="left-navbar-item has-text-centered"
            href="{{ site.baseurl_root }}{{ site.lang }}/{% tl about %}"
        >
            {% t navigation_headlines.about %}
        </a>
        <a
            class="left-navbar-item has-text-centered"
            href="/faq"
        >
            {% t navigation_headlines.faq %}
        </a>
        <a
            class="left-navbar-item has-text-centered"
            href="/blog"
        >
            {% t navigation_headlines.blog %}
        </a>
    </div>

    <div class="column is-flex is-justify-content-center"><a
            class="navbar-item"
            href="/"
            style="padding-left: 35%;"
        >
            <img
                src="/assets/images/logo_emoji_v1_weiss.png"
                alt="codeklasse: Programmieren lernen mit Emojis"
                height="28"
            >
        </a></div>
    <div
        class="p-3 is-flex is-justify-content-flex-end"
        style="width: 33%;"
    >
        <a
            class="button is-white"
            href="/#contact"
        >
            <p class="has-text-weight-bold">{% t buttons.get_in_touch %}</p>
        </a>

        <div class="navbar-item has-dropdown is-hoverable ml-4">
            <!-- Currently selected language = primary language
                 Default: primary = German, secondary = English  -->

            {% if site.lang == "de" %}
            {% capture language_primary_content %}{% t languages.de %}{% endcapture %}
            {% capture language_secondary_content %}{% t languages.en %}{% endcapture %}
            {% assign language_primary_url = "" %}
            {% assign language_secondary_url = "en" %}
            {% elsif site.lang == "en" %}
            {% capture language_secondary_content %}{% t languages.de %}{% endcapture %}
            {% assign language_primary_url = "en" %}
            {% assign language_secondary_url = "" %}
            {% else %}
            {% capture language_primary_content %}{% t languages.de %}{% endcapture %}
            {% capture language_secondary_content %}{% t languages.en %}{% endcapture %}
            {% assign language_primary_url = "en" %}
            {% assign language_secondary_url = "" %}
            {% endif %}

            <!-- Show selected/ primary language -->
            <a
                href="/{{ language_primary_url }}"
                class="navbar-link"
            >
                {% if site.lang == "de" %}
                {% t languages.de %}
                {% elsif site.lang == "en" %}
                {% t languages.en %}
                {% else %}
                {% t languages.de %}
                {% endif %}
            </a>

            <div class="navbar-dropdown">
                <!-- Show the secondary language if the primary is selected -->
                <a
                    href="/{{ language_secondary_url }}"
                    class="navbar-item"
                >
                    {{ language_secondary_content }}
                </a>
            </div>

        </div>
    </div>
</nav>

<nav
    id="mobile-navbar"
    class="navbar is-fixed-top is-primary has-shadow"
    role="navigation"
    aria-label="main navigation"
>
    <div class="navbar-brand is-justify-content-center is-flex-grow-1 ">
        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbar-menu"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        <a
            class="navbar-item is-justify-content-center is-flex-grow-1 "
            href="/"
        >
            <img
                src="/assets/images/logo_emoji_v1_weiss.png"
                alt="codeklasse: Programmieren lernen mit Emojis"
                height="28"
            >
        </a>
    </div>

    <div
        id="navbar-menu"
        class="navbar-menu"
    >
        <div class="navbar-start">
            <a
                class="navbar-item has-text-centered"
                href="/about"
            >
                {% t navigation_headlines.about %}
            </a>
            <a
                class="navbar-item has-text-centered"
                href="/faq"
            >
                {% t navigation_headlines.faq %}
            </a>
            <a
                class="navbar-item has-text-centered"
                href="/blog"
            >
                {% t navigation_headlines.blog %}
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons is-justify-content-center">
                    <a
                        class="button"
                        href="/#contact"
                    >
                        <p class="has-text-weight-bold">{% t buttons.get_in_touch %}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>