<!-- Make it sticky: navbar is-fixed-top AND "has-navbar-fixed-top" on parent HTML to adjust for padding -->
<nav
    id="main-navbar"
    class="navbar is-fixed-top has-background-primary has-shadow"
    role="navigation"
    aria-label="main navigation"
>
    <div class="navbar-brand">
        <a
            role="button"
            class="navbar-burger element-left"
            aria-label="menu"
            aria-expanded="false"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        <a
            class="navbar-item"
            href="/"
        >
            <img
                src="/assets/images/logo-full.png"
                alt="codeklasse: Programmieren lernen mit Emojis"
                height="28"
            >
        </a>
        <div class="element-right"></div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <!-- <a
                class="navbar-item"
                href="/#emoji-editor"
            >
                Emoji Editor
            </a> -->
            <a
                class="navbar-item"
                href="/about"
            >
                Über uns
            </a>
            <!-- <a
                class="navbar-item"
                href="/#contact"
            >
                Kontakt
            </a> -->
            <a
                class="navbar-item"
                href="/faq"
            >
                Fragen & Antworten
            </a>
            <a
                class="navbar-item"
                href="/blog"
            >
                Blog
            </a>
            <div class="navbar-item has-dropdown is-hoverable"></div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a
                        class="button is-white"
                        target="_blank"
                        href="https://app.codeklasse.de"
                    >
                        <p>codeklasse jetzt <span class="has-text-weight-bold">kostenlos nutzen</span>!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>    
</nav>

<style>
    /* Used to bring burger menu to left & center the logo */
    .element-left, .element-right {
        flex: 1;
    }

    a.navbar-item:hover {
        background-color: initial;
    }

    .navbar.has-shadow {
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    }
</style>