<div
    id="sponsors-and-partners"
    class="columns is-vcentered is-multiline mt-6 pb-1"
>
    <div class="column center-content is-one-quarter-desktop is-half-tablet">
        <figure class="image sponsors-and-partners-image">
            <a
                href="https://www.gruenderstipendium.nrw/gruenden"
                target="_blank"
            >
                <img
                    src="assets/images/partners-and-sponsors/GSN.png"
                    alt="Logo vom Gründerstipendium NRW"
                >
            </a>
        </figure>
    </div>

    <div class="column center-content is-one-quarter-desktop is-half-tablet">
        <figure class="image sponsors-and-partners-image">
            <a
                href="https://www.werk-x.ruhr"
                target="_blank"
            >
                <img
                    src="assets/images/partners-and-sponsors/WERKX-Stempel.png"
                    alt="Logo vom Bochumer Startup Inkubator Werk-X"
                >
            </a>
        </figure>
    </div>

    <div class="column center-content is-one-quarter-desktop is-half-tablet">
        <figure class="image sponsors-and-partners-image">
            <a
                href="https://www.hochschule-bochum.de"
                target="_blank"
            >
                <img
                    src="assets/images/partners-and-sponsors/BO-Logo_m_Wortmarke_L10cmWebHQ.jpg"
                    alt="Logo der Hochschule Bochum"
                >
            </a>
        </figure>
    </div>

    <div class="column center-content is-one-quarter-desktop is-half-tablet">
        <figure class="image sponsors-and-partners-image">
            <a
                href="https://www.rv-startupcampus.de"
                target="_blank"
            >
                <img
                    src="assets/images/partners-and-sponsors/RVSC.png"
                    alt="Logo vom Ruhr Valley Startup Campus"
                >
            </a>
        </figure>
    </div>
</div>