<div class="has-text-centered mb-6">
    {% include title-h2.html text="Wie ist codeklasse für mich relevant?" %}
</div>


<div
    id="why-use-codeklasse-tabs-list"
    class="buttons is-justify-content-space-around"
>
    <a
        id="Tab-Button-Unternehmen"
        class="button content-switcher"
        onclick="openTab('Tab-Companies')"
    >Unternehmen</a>

    <a
        id="Tab-Button-Lehrkraefte"
        class="button content-switcher "
        onclick="openTab('Tab-Educators')"
    >Lehrkräfte</a>

    <a
        id="Tab-Button-Eltern"
        class="button content-switcher"
        onclick="openTab('Tab-Parents')"
    >Eltern</a>
</div>

<div class="container pt-5">
    <!-- COMPANIES -->
    <div
        id="Tab-Companies"
        class="content-tab"
    >
        <h3 class="title is-4 pt-5 has-text-centered is-italic">Nachwuchs fördern. Regionale Kompetenz ausbauen.</h3>

        <p class="mb-5">
            Digitale Kompetenzen und IT als Schulfach ausbauen: Die ICILS-Studie hat gezeigt, dass es keine
            Fortschritte bei informations- und computerbezogenen Kompetenzen der Schülerinnen und
            Schüler im Zeitraum von 2013 bis 2018 gegeben hat. Der Unterricht in diesen Bereichen ist zu
            stärken, das Schulfach IT sollte ausgebaut werden.
        </p>

        <div class="columns is-multiline">
            <div class="column is-full">
                <div class="columns">
                    <div class="column is-three-fifths">
                        {% include codeklasse-fact-tile.html
                        fact_category="Keine Eigenkenntnisse der Lehrkraft nötig"

                        fact='codeklasse ist einfach!
                        SuS meistern ihre ersten Programmiererfahrungen spielerisch und
                        intuitiv.
                        Ein eingebauter Feedback-Mechanismus liefert, bei Bedarf, individuelle Hinweise.'

                        img_url="/assets/images/why-use-codeklasse/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg"
                        img_alt="" %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="columns">
                    <div class="column is-offset-one-fifth is-three-fifths">
                        {% include codeklasse-fact-tile.html
                        fact_category="Keine Eigenkenntnisse der Lehrkraft nötig"

                        fact='codeklasse ist einfach!
                        SuS meistern ihre ersten Programmiererfahrungen spielerisch und
                        intuitiv.
                        Ein eingebauter Feedback-Mechanismus liefert, bei Bedarf, individuelle Hinweise.'

                        img_url="/assets/images/why-use-codeklasse/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg"
                        img_alt="" %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="columns">
                    <div class="column is-offset-two-fifths is-three-fifths">
                        {% include codeklasse-fact-tile.html
                        fact_category="Keine Eigenkenntnisse der Lehrkraft nötig"

                        fact='codeklasse ist einfach!
                        SuS meistern ihre ersten Programmiererfahrungen spielerisch und
                        intuitiv.
                        Ein eingebauter Feedback-Mechanismus liefert, bei Bedarf, individuelle Hinweise.'

                        img_url="/assets/images/why-use-codeklasse/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg"
                        img_alt="" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EDUCATORS -->
    <div
        id="Tab-Educators"
        class="content-tab"
    >
        <h3 class="title is-4 pt-5 has-text-centered is-italic">Programmieren ab der ersten Klasse.</h3>

        <p class="mb-5">
            Digitale Kompetenzen und IT als Schulfach ausbauen: Die ICILS-Studie hat gezeigt, dass es keine
            Fortschritte bei informations- und computerbezogenen Kompetenzen der Schülerinnen und
            Schüler im Zeitraum von 2013 bis 2018 gegeben hat. Der Unterricht in diesen Bereichen ist zu
            stärken, das Schulfach IT sollte ausgebaut werden.
        </p>

        <div class="columns is-multiline">
            <div class="column is-full">
                <div class="columns">
                    <div class="column is-three-fifths">
                        {% include codeklasse-fact-tile.html
                        fact_category="Keine Eigenkenntnisse der Lehrkraft nötig"

                        fact='codeklasse ist einfach!
                        SuS meistern ihre ersten Programmiererfahrungen spielerisch und
                        intuitiv.
                        Ein eingebauter Feedback-Mechanismus liefert, bei Bedarf, individuelle Hinweise.'
                        img_url="/assets/images/why-use-codeklasse/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg"
                        img_alt="" %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="columns">
                    <div class="column is-offset-one-fifth is-three-fifths">
                        {% include codeklasse-fact-tile.html
                        fact_category="Keine Eigenkenntnisse der Lehrkraft nötig"

                        fact='codeklasse ist einfach!
                        Funktionsbereit geliefert! codeklasse bietet einen vorgefertigten Lernpfad mit dem SuS ihre
                        Programmierkenntnisse Schritt für Schritt erweitern.'
                        img_url="/assets/images/why-use-codeklasse/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg"
                        img_alt="" %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="columns">
                    <div class="column is-offset-two-fifths is-three-fifths">
                        {% include codeklasse-fact-tile.html
                        fact_category="Keine Eigenkenntnisse der Lehrkraft nötig"

                        fact='Eine breite Auswahl an zusätzlichen Lerneinheiten bietet flexiblen und umfänglichen
                        Einsatz - ob zuhause
                        oder im Schulalltag.'
                        img_url="/assets/images/why-use-codeklasse/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg"
                        img_alt="" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PARENTS -->
    <div
        id="Tab-Parents"
        class="content-tab"
    >
        <!-- ODER: Kindern die Bildung von Morgen ermöglichen. -->
        <h3 class="title is-4 pt-5 has-text-centered is-italic">Kindern die Fähigkeiten von Morgen geben.</h3>

        <p class="mb-5">
            Digitale Kompetenzen und IT als Schulfach ausbauen: Die ICILS-Studie hat gezeigt, dass es keine
            Fortschritte bei informations- und computerbezogenen Kompetenzen der Schülerinnen und
            Schüler im Zeitraum von 2013 bis 2018 gegeben hat. Der Unterricht in diesen Bereichen ist zu
            stärken, das Schulfach IT sollte ausgebaut werden.
        </p>

        <div class="columns is-multiline">
            <div class="column is-full">
                <div class="columns">
                    <div class="column is-three-fifths">
                        {% include codeklasse-fact-tile.html
                        fact_category="Für Berufe der Zukunft vorbereiten"

                        fact='Programmieren lernen lohnt sich! Neben essenziellen Stellen in Gesundheit, Medizin,
                        Pflege, Bildung &
                        Erziehung, gehören vor allem Technik-nahe Positionen zu den gefragtesten Berufen der kommenden
                        Jahren.

                        Mit codeklasse machen wir Programmieren lernen kinderleicht!'

                        img_url="assets/images/why-use-codeklasse/thisisengineering-raeng-bIltCMXIwRE-unsplash.jpg"
                        img_alt="Von links nach rechts: Ein junger Mann, eine junge Frau und ein weiterer junger Mann
                        schauen auf
                        ein Notebook und sprechen sich ab. Photo credit: thisisengineering-raeng von Unsplash (photo-id
                        bIltCMXIwRE)" %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="columns">
                    <div class="column is-offset-one-fifth is-three-fifths">
                        {% include codeklasse-fact-tile.html
                        fact_category="Wunsch nach mehr wecken"

                        fact='Erfolg macht süchtig! Mit coolen Animationen, individueller Hilfestellung und vielen,
                        kleinen
                        Erfolgserlebnissen, möchten wir Kindern die Freude am Lernen mitgeben.

                        In kleinen Schritten zum großen Erfolg!'

                        img_url="assets/images/why-use-codeklasse/ben-white-qDY9ahp0Mto-unsplash.jpg"
                        img_alt="Ein Junge guckt, aufgrund des Buchs in seiner Hand, erstaunt in die Kamera. Photo
                        credit: Ben White von
                        Unsplash (photo-id qDY9ahp0Mto)" %}
                    </div>
                </div>
            </div>

            <div class="column is-full">
                <div class="columns">
                    <div class="column is-offset-two-fifths is-three-fifths">
                        {% include codeklasse-fact-tile.html
                        fact_category="Bildschirmzeit sinnvoll gestalten"

                        fact='Laut der KIM Studie aus 2020 fasst Quarks zusammen, dass " Kinder im Alter von sechs bis
                        sieben Jahren im
                        Durchschnitt 133 Minuten auf einen Bildschirm schauen. Insgesamt kommen 12 -bis 13-Jährige auf
                        eine
                        Bildschirmzeit von etwa 313 Minuten, also mehr als fünf Stunden. "

                        Eins ist klar, digitale Medien sind Teil unseres Alltags - macht Medienzeit wertvoll.'

                        img_url="assets/images/why-use-codeklasse/igor-starkov-s4GL0XwPSIU-unsplash.jpg"
                        img_alt="Ein Mädchen sitzt vor dem iPad. Photo credit: Igor Starkov von Unsplash (photo-id
                        s4GL0XwPSIU)" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 
            Sources:
            <a
            class="is-underlined"
            href="https://www.mpfs.de/fileadmin/files/Studien/KIM/2020/KIM-Studie2020_WEB_final.pdf"
            target="blank"
        >
            KIM Studie</a> aus 2020 fasst <a
            class="is-underlined"
            href="https://www.quarks.de/gesellschaft/wie-lange-duerfen-kinder-vor-einem-bildschirm-sitzen/"
            target="blank"
        > -->
</div>

<script>
    // Shamelessly copied from https://codepen.io/t7team/pen/ZowdRN - thanks for that!
    // Initialize tab with a category
    openTab('Tab-Companies');

    function openTab(tabName) {
        let i, x, tabButtons;

        x = document.getElementsByClassName("content-tab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }

        tabButtons = document.getElementsByClassName("content-switcher");
        for (i = 0; i < x.length; i++) {
            tabButtons[i].className = tabButtons[i].className.replace(" is-active", "");
        }

        document.getElementById(tabName).style.display = "block";

        switch (tabName) {
            case "Tab-Educators":
                document.getElementById("Tab-Button-Lehrkraefte").className += " is-active";
                break;

            case "Tab-Parents":
                document.getElementById("Tab-Button-Eltern").className += " is-active";
                break;

            case "Tab-Companies":
                document.getElementById("Tab-Button-Unternehmen").className += " is-active";
                break;

            default:
                break;
        }
    }
</script>

<style>
    .content-tab {
        display: none;
    }

    .codeklasse-fact-image {
        width: 50%;
    }
</style>