<div class="has-text-centered mb-6">
{% include title-h2.html text="Wie ist codeklasse für mich relevant?" %}
</div>


<div id="why-use-codeklasse-tabs-list" class="buttons is-justify-content-space-around">
    <a id="Tab-Button-Lehrkraefte" class="button content-switcher " onclick="openTab('Tab-Lehrkraefte')">Lehrkräfte</a>
    <a id="Tab-Button-Eltern" class="button content-switcher" onclick="openTab('Tab-Eltern')">Eltern</a>
    <a id="Tab-Button-Entscheidungsgeber" class="button content-switcher is-active" onclick="openTab('Tab-Entscheidungsgeber')">Entscheidungsgeber</a>
</div>

  <div class="container pt-5">
    <div id="Tab-Lehrkraefte" class="content-tab">
        <h3 class="title is-4 pt-5 has-text-centered is-italic">Programmieren ab der ersten Klasse.</h3>
      
    </div>

    <div id="Tab-Eltern" class="content-tab">
        <h3 class="title is-4 py-5 has-text-centered is-italic">Den Kindern die beste Bildung ermöglichen.</h3>
    
        <div class="card">
            <div class="card-content">
              <div class="media">
  
                <div class="media-content">
                  <p class="title is-4">Kinder für die Berufe der Zukunft bereitmachen.</p>
                  <p class="subtitle is-6 mt-3">codeklasse strebt an Kompetenzen des MINT Bereichs früh zu stärken und Deutschlands Bedarf nachhaltig zu decken.</p>
                </div>

                <div class="media-right codeklasse-fact-image">
                    <figure class="image is-4by3">
                      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                  </div>
              </div>
          
            </div>
        </div>

        <div class="card my-6">
            <div class="card-content">
              <div class="media">
  
                <div class="media-content">
                  <p class="title is-4">Kinder für die Berufe der Zukunft bereitmachen.</p>
                  <p class="subtitle is-6 mt-3">codeklasse strebt an Kompetenzen des MINT Bereichs früh zu stärken und Deutschlands Bedarf nachhaltig zu decken.</p>
                </div>

                <div class="media-right codeklasse-fact-image">
                    <figure class="image is-4by3">
                      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                  </div>
              </div>
          
            </div>
        </div>

        <div class="card">
            <div class="card-content">
              <div class="media">
  
                <div class="media-content">
                  <p class="title is-4">Kinder für die Berufe der Zukunft bereitmachen.</p>
                  <p class="subtitle is-6 mt-3">codeklasse strebt an Kompetenzen des MINT Bereichs früh zu stärken und Deutschlands Bedarf nachhaltig zu decken.</p>
                </div>

                <div class="media-right codeklasse-fact-image">
                    <figure class="image is-4by3">
                      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                  </div>
              </div>
          
            </div>
        </div>
    </div>

    <div id="Tab-Entscheidungsgeber" class="content-tab">
      <h3 class="title is-4 pt-5 has-text-centered is-italic">Nachwuchs fördern. Regionale Kompetenz ausbauen.</h3>
    </div>
</div>


<script>
    // Shamelessly copied from https://codepen.io/t7team/pen/ZowdRN - thanks for that!
    // Initialize tab with a category
    openTab('Tab-Eltern');
    
    function openTab(tabName) {
      let i, x, tabButtons;

      x = document.getElementsByClassName("content-tab");
      for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
      }

      tabButtons = document.getElementsByClassName("content-switcher");
      for (i = 0; i < x.length; i++) {
          tabButtons[i].className = tabButtons[i].className.replace(" is-active", "");
      }

      document.getElementById(tabName).style.display = "block";
      
      switch (tabName) {
          case "Tab-Lehrkraefte":
            document.getElementById("Tab-Button-Lehrkraefte").className += " is-active";
              break;
      
          case "Tab-Eltern":
            document.getElementById("Tab-Button-Eltern").className += " is-active";
              break;
          
          case "Tab-Entscheidungsgeber":
            document.getElementById("Tab-Button-Entscheidungsgeber").className += " is-active";
              break;

          default:
              break;
      }
    }
</script>

<style>
    .content-tab {
        display: none;
    }

    .codeklasse-fact-image {
        width: 50%;
    }
</style>