/* COLOR */
/*************************************************/
$primary: #ffeb4fff;
$info: #51d8acff;
$success: #52c9ffff;
// $warning: Bulma default
$danger: #fc6b6bff;
$light: #ffff78;
$dark: #444444;

/* BREAKPOINTS */
/*************************************************/

/* 
 * Reduce original breakpoint by a pixel to better separate between mobile & tablet
 * (iPad tablet was previously unavailable because of 1 missing pixel)
 */
$tablet: 768px;

/* VARIOUS */
/*************************************************/
$border-radius: 3px;
$border-color: black;
