/* COLOR */
/*************************************************/
$primary: #ffea50;
$info: #85dda4;
$success: #74c6f9;
$warning: #ff5e47; 
$danger: #e97470;   
$light: #ffff78;
$dark: #444444;

/* BREAKPOINTS */
/*************************************************/

/* 
 * Reduce original breakpoint by a pixel to better separate between mobile & tablet
 * (iPad tablet was previously unavailable because of 1 missing pixel)
 */
$tablet: 768px;

/* VARIOUS */
/*************************************************/
$border-radius: 3px;
$border-color: black;
