{{ define "main" }}
{{ partial "shared/title-hero-blog-list.html" (dict "context" . "blockCaption" "" "customTitle" "Blog" ) }}

<!-- is-centered - rausgenommen -->
<div class="columns is-multiline my-3 mb-6 padding-left-blog-list">
    {{ range .Pages }}
    <!-- is-one-quarter-fullhd - rausgenommen -->
    <div class="column is-half-tablet is-one-third-widescreen ">
        <a href="{{ .RelPermalink }}">
            {{ partial "shared/blog-post-tile.html" . }}
        </a>
    </div>
    {{ end }}
</div>
{{ end }}