---
---

@charset "utf-8";
@import "bulma-theme";
@import "fontawesome.min.css";
@import "regular.min.css";
@import "solid.min.css";

@media screen and (min-width: 1200px) {
    .site-content {
        padding: 0 7.5rem;
    }
}

$border-radius: 3px;
$border-color: black;

#title-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;

    grid-template-areas:
        ". . . ."
        ". TitleText TitleText ."
        ". ActionButtons DemoImage DemoImage"
        ". . . . ";
}

#title-teaser-text {
    grid-area: TitleText;
}

#title-action-buttons {
    grid-area: ActionButtons;
}

#title-demo-image {
    grid-area: DemoImage;
}

.div4 {
    grid-area: FachlicheUmsetzung;
}

.column.center-content {
    justify-content: center;
    display: flex;
}

.sponsor-image {
    height: auto;
    max-width: 50%;
    border: none;
}

.social-media-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;
}

.button.is-white {
    border-color: $border-color;
}

// If not enough: https://stackoverflow.com/questions/42134731
.button.is-white:hover,
.button.is-white:visited,
button.is-white:focus {
    border-color: $border-color;
}

#faq-contact-button,
.buttons button.button,
a.button,
.has-border,
.card,
figure {
    border: $border-radius solid $border-color;
}

.no-border {
    border: none;
}

a {
    color: $dark;
}

a:hover {
    color: $success;
}