---
---

@import "bulma-theme.scss";
@import "navbar.scss";
@import "blog.scss";
@import "why-use-codeklasse.scss";

/*
*  Set and apply Custom fonts
*/

@font-face {
    font-family: "SpaceGrotesk";
    src: url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Averta Regular";
    src: url("/assets/fonts/AvertaDemoPECuttedDemo-Regular.otf") format("opentype");
}

* {
    font-family: "SpaceGrotesk";
    border-radius: 0 !important;
}

p,
span,
.content {
    font-family: "Averta Regular";
}

/*
*  Enable smooth scrolling for all elements
*/
* {
    scroll-behavior: smooth;
}

/*
*  Set general button style
*/

// If not enough: https://stackoverflow.com/questions/42134731
.button.is-white:visited,
button.is-white:focus,
.button.is-info:focus,
.button.is-white {
    border-color: $border-color;
}

/* #why-use-codeklasse-tabs-list a.button:hover,
#why-use-codeklasse-tabs-list a.button:active,
#why-use-codeklasse-tabs-list a.button:focus,
#why-use-codeklasse-tabs-list a.button.is-active,
.button.is-primary:hover,
.button.is-primary:active,
.button.is-primary:focus,
#title-action-buttons .button:hover,
.button.is-white:hover,
#faq-contact-button:hover {
    border-color: $success;
}
 */

.card,
.button {
    transition: ease-in-out 0.4s;
    box-shadow: none;
}

.card:hover {
    border-color: #000;
    transition: ease-in-out 0.2s;
    box-shadow: 4px 4px #000;
}

.button:hover:not(.social-media-icons-footer .button) {
    border-color: #000 !important;
    transition: ease-in-out 0.2s;
    box-shadow: 4px 4px #000;
}

#summary-section ul li {
    transition: ease-in-out 0.2s;
}

#summary-section ul li:hover {
    transition: ease-in-out 0.2s;
    transform: translateY(-10%);
}

.button.is-primary,
#faq-contact-button,
.buttons button.button,
a.button,
.has-border,
.card,
figure {
    border: $border-radius solid $border-color;
}

.site-content,
#main-footer {
    @include mobile {
        padding: 0 0.75rem;
    }

    @include tablet {
        // padding: 0 7.5rem;
        padding: 0 3rem;
    }

    @include desktop {
        padding: 0 7.5rem;
    }
}

#footer-made-with-bulma {
    @include mobile {
        margin: 1.5rem auto;
    }
}

.title {
    @include mobile {
        font-size: 1.2rem;
        font-weight: 500;
    }
}

#title-section {
    margin-bottom: -5rem;

    @include desktop {
        margin-top: 4rem;
    }
}

#title-teaser-image {
    @include desktop {
        margin-left: 8.33333337%;
    }
}

#title-teaser-image {
    position: relative;
    top: -10rem;
    left: 10rem;
    width: 60rem;

    @include mobile {
        left: 1rem;
    }

    @include tablet {
        left: 3rem;
    }
}

#title-teaser-call-to-action-button {
    position: relative;
    top: -7.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.column.center-content {
    justify-content: center;
    display: flex;
}

#sponsors-and-partners .column {
    min-height: 8rem;
}

.sponsors-and-partners-image {
    border: none;
    height: auto;

    margin-top: auto;
    margin-bottom: auto;

    @include mobile {
        max-width: 70%;
    }

    @include tablet {
        max-width: 75%;
    }

    @include desktop {
        max-width: 75%;
    }
}

.social-media-icons-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: max-content;

    @include mobile {
        flex-direction: row;
    }
}

.no-border {
    border: none;
}

// More infos: https://www.w3schools.com/css/css_link.asp
.breadcrumb a,
a {
    color: $dark;
}

a.navbar-item:hover,
a.navbar-item:focus,
a.navbar-item:focus-within {
    background-color: unset;
    color: unset;
}

a,
.footer-link,
.breadcrumb a,
#footer-button-instagram {
    transition: ease-in-out 0.2s;
}

a:hover,
.footer-link:hover,
.breadcrumb a:hover,
#footer-button-instagram:focus {
    transform: translateY(-10%);
    transition: ease-in-out 0.1s;
}

.underline-links-in-posts a {
    text-decoration: underline;
    transition: ease-in-out 0.2s;
}

.underline-links-in-posts a:hover {
    transform: translateY(-10%);
    transition: ease-in-out 0.2s;
}

#copyright-year-mark {
    @include mobile {
        text-align: center;
    }
}

.wrap-button-text {
    color: $success;
    border-color: $success;
    height: max-content;
    white-space: inherit;
}

#get-in-contact {
    color: $dark;
    border: $border-radius solid $border-color;
}
