{{ define "main" }}
{{ partial "elements/title-hero.html" (dict "context" . "blockCaption" "Ein starkes Team = Ein starkes Produkt" ) }}

<div class="content is-large container px-6 py-4">
  <div class="columns">
    <div class="column">
      <h2 class="">Sergej Grilborzer</h2>

      <ul class="block-list is-large is-outlined is-success">
        <li class="list-item">> Fact 1</li>
        <li class="list-item">> Fact 2</li>
        <li class="list-item">> Fact 3</li>
      </ul>
    </div>
    
    <div class="column has-text-centered">
      <figure class="image">
          <img class="" src="/images/s-gbz.jpg">
      </figure>
    </div>
  </div>
</div>
{{ end }}