// Keep footer at the bottom
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body .site-content {
    flex: 1;
}


// http://versions.bulma.io/0.9.2/documentation/customize/variables/

@font-face {
    font-family: 'robin-schooler';
    src: url("/Calittra.otf") format("truetype");
    // src: url("/Bienchen a.ttf") format("truetype") format("truetype");
}

// @font-face {
//     font-family: 'robin-schooler';
//     font-style: italic;
//     //src: url("/Calittra.otf") format("truetype");
//     src: url("/Bienchen b.ttf") format("truetype");
// }

$family-sans-serif: "robin-schooler", sans-serif;

.fancy-title {
    @extend .title;
    font-family: $family-sans-serif;
}


/* Reverse column order when needed.
*  For example to have table of content on right side on desktop, but on top on mobile
*  Snippet provided by jvarness https://github.com/jgthms/bulma/issues/297#issuecomment-499961774
*/
@include mobile {
    .columns.is-reversed-mobile{
        display: flex;
        flex-direction: column-reverse;
   }
}