<div class="card">

    
    <p class="title is-3 is-flex is-justify-content-center my-3">{{ .Title }}</p>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ .Params.thumbnail }}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{{ .Site.Author.photo }}" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <!-- <p>{{ partial "elements/german-date.html" (dict "context" . "theDate" .Params.date) }}</p> -->
          <p class="subtitle is-6">
            {{ .Site.Author.name }}
            <br>
            {{ .Params.releaseDate }}
          </p>
        </div>
      </div>
  
      <div class="content">
        {{ .Summary }}
      </div>
    </div>
</div>