<div class="columns">
    <section class="column is-12 content is-large container">
        <div class="tile columns is-multiline is-horizontal notification is-primary">
            {{ if .customTitle }}
                <h1 class="column is-12 is-horizontal fancy-title is-size-1-tablet is-size-3-mobile"><u>{{ .customTitle }}</u></h1>
                {{else}}
                <h1 class="column is-12 is-horizontal fancy-title is-size-1-tablet is-size-3-mobile"><u>{{ .context.Title }}</u></h1>
            {{ end }}

                {{ if .blockCaption }}
                    <div class="block">
                        {{ .blockCaption }}
                    </div>
            {{ end }}
        </div>
    </section>
</div>