    <div class="tile is-ancestor">
        <div class="tile is-parent is-1"></div>

        <div class="tile is-parent">
            <section id="contact" class="tile is-child has-text-left">
                <h2 class="title has-text-info-invert">Fragen, Interesse, Feedback?</h2>
                <!-- <h3 class="subtitle has-text-info-invert">Ich freue mich auf's Gespräch!</h3> -->
                <h3 class="subtitle has-text-info-invert">Lassen Sie es mich wissen <span class="icon"><i class="fas fa-arrow-down"></i></span> </h3>
                <hr>

                <div class="field icon-text is-large">
                    <span class="icon"><i class="fas fa-envelope fa-lg"></i></span>
                    <!-- <span><a href="mailto:sergej@codeklasse.de">sergej@codeklasse.de</a></span> -->
                    <span>sergej@codeklasse.de</span>
                </div>
                <div class="field icon-text">
                    <span class="icon"><i class="fab fa-facebook fa-lg"></i></span>
                    <span>Facebook - Direktnachricht</span>
                </div>
                <div class="field icon-text">
                    <span class="icon"><i class="fab fa-linkedin fa-lg"></i></span>
                    <span>LinkedIn - Direktnachricht</span>
                </div>
                <hr>

                <h2 class="title has-text-info-invert">.. oder abonnieren Sie den Newsletter</h2>

                <div class="field icon-text is-large">
                    <span class="icon"><i class="fas fa-check"></i></span>
                    <!-- <span><a href="mailto:sergej@codeklasse.de">sergej@codeklasse.de</a></span> -->
                    <span>Ein monatliches Update zum Projekt</span>
                </div>
                <div class="field icon-text">
                    <span class="icon"><i class="fas fa-check"></i></span>
                    <span>Ein Klick zum Abbestellen</span>
                </div>
                <div class="field icon-text">
                    <span class="icon"><i class="fas fa-check"></i></span>
                    <span class="">Vertrauliche Datenbehandlung. <br> Mehr zu unserem <a class="has-text-info-invert has-text-weight-bold" href="/privacy" target="_blank">Datenschutz</a>.</span>
                </div>
                <hr>
    
                <div class="field control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="max@musterfrau.de">
    
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
    
                    <span class="icon is-large is-right">
                      <i class="fas fa-check fa-lg"></i>
                    </span>
                </div>
    
                <p class="is-third control is-expanded">
    
                    <p class="control"> 
                        <button class="button is-info-inverted is-fullwidth" type="submit">
                            Newsletter abonnieren
                        </button>
                    </p>
                </p>
            </section>
        </div>

        <div class="tile is-parent">
            <section class="tile is-child notification image is-info has-text-left">
                <figure>
                    <img src="/images/IMG_8898.jpg" alt="Portrait von Sergej Grilborzer, Gründer des Unternehmens codeklasse">
                </figure>
                <hr>

                <h2 class="title has-text-info-invert">Hi, mein Name ist Sergej Grilborzer</h2>
                <h3 class="subtitle has-text-info-invert has-text-justify">und ich sollte "damals" Lehrer werden*.
                    Heute bin ich Gründer von codeklasse und <span class="has-text-weight-bold">Software Entwickler mit Passion für Bildung</span>.
                </h3>
                <small class="is-size-7">*Laut den engagierten Abiturlehrern die mich dazu ermutigt hatten :)</small>   
            </section>
        </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
          <section class="tile is-child has-text-centered">
            <p class="field"><u class="subtitle has-text-info-invert">Meine persönliche Mission..</u></p>
            <h2 class="field title has-text-info-invert">.. ist Kindern das Programmieren lernen zu erleichtern.</h2>
          </section>
        </div>
    </div>