{{ $cookieconsentcss := resources.Get "cookieconsent.css" }}
{{ $cookieconsentmincss := $cookieconsentcss | resources.Minify }}
<link rel="stylesheet" href="{{ $cookieconsentmincss.RelPermalink }}">

{{ $cookieconsentjs := resources.Get "cookieconsent.js" }}
{{ $cookieconsentminjs := $cookieconsentjs | resources.Minify }}
<script async src="{{ $cookieconsentminjs.RelPermalink }}"></script>

<script async src="/js/gtag.js?id=266239204"></script>

<script>
  // Reads the value of a cookie by name or returns empty string
  function getCookie(name) {
    var b = document.cookie.match("(^|[^;]+)\\s*" + name + "\\s*=\\s*([^;]+)");
    return b ? b.pop() : "";
  }

  // Actually starting analytics up
  function addAnalytics() {
    if (document.location.hostname.startsWith("codeklasse.de")) {
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "266239204");
    }
  }

  // Waiting for the load event
  window.addEventListener("load", function () {
    const cookieConsent = getCookie("cookieconsent_status");

    if (cookieConsent === "allow") {
      addAnalytics();
    }

    if (cookieConsent === "") {
      window.cookieconsent.initialise({
        palette: {
          popup: {
            background: "#efefef",
            text: "#404040",
          }
        },
        type: "opt-in",
        content: {
          header: "Cookies dieser Webseite",
          message: "Daten sind wichtig - anonym noch besser! Gerne möchten wir unsere Besucherzahlen anonym messen - ist das ok?  ",
          // message: "Wir nutzen Cookies, um unsere Besucherzahlen zu messen - Haben wir Ihr Einverständnis?",
          allow: "Das klingt gut!",
          deny: "Nein danke :)",
          link: "Unser Bemühen zum Datenschutz"
        },
        // Reload the page on user choice to make sure cookie is set
        onStatusChange: function (status, chosenBefore) {
          // location.reload();
        },
      });
    }
  });
</script>
