<!-- https://wikiki.github.io/components/accordion/ -->


<section class="section">
    <div class="container py-4">
      <h2 class="title has-text-centered mb-6">Frequently Asked Questions</h2>
      <div class="panel">
        <div class="panel-block is-block py-3 px-4">
          <a id="toggle-a" class="media" aria-label="toggle">
            <div class="media-content">How is a decentralized network different from the traditional web?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
            <div class="is-collapsible">asd</div>
          </a>
        </div>
        <div class="panel-block is-block py-3 px-4">
          <a class="media" href="#">
            <div class="media-content">Why shouldn't I just store my data on a Hooli Box?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
          </a>
        </div>
        <div class="panel-block is-block py-3 px-4">
          <a class="media" href="#">
            <div class="media-content">What makes PiperNet so safe?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
          </a>
        </div>
        <div class="panel-block is-block py-3 px-4">
          <a class="media" href="#">
            <div class="media-content">How long does it take to get a company up and running on PiperNet?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
          </a>
        </div>
        <div class="panel-block is-block py-3 px-4">
          <a class="media" href="#">
            <div class="media-content">How is a decentralized network different from the traditional web?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
          </a>
        </div>
        <div class="panel-block is-block py-3 px-4">
          <a class="media" href="#">
            <div class="media-content">Why shouldn't I just store my data on a Hooli Box?</div>
            <div class="media-right"><img src="placeholder/icons/chevron-circle-down.svg" alt=""></div>
          </a>
        </div>
      </div>
    </div>
</section>