<section class="columns ">
    <div class="column is-12 ">
<div class="tile is-horizontal is-multiline notification is-primary">

    <div class="columns is-multiline">
        <div class="column is-half">
            <h2 class="title has-text-black mb-0 is-size-2-widescreen">
                <strong>Newsletter</strong>
            </h2>
            <p>Lassen Sie sich über Projektfortschritt und Neuigkeiten informieren - keine Werbung - jederzeit abbestellbar.
            </p>
        </div>
        
        <div class="column">
            <div class="field has-addons has-addons-right">
                
                <p class="control is-expanded">
                    <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Your email">
                </p>
                <p class="control"> 
                    <button class="button is-primary-inverted" type="submit">
                        Anmelden
                    </button>
                </p>
            </div>

            <!-- <div class="columns">
                <div class="column control is-expanded">
                    <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Your email">
                </div>
                <button class="column is-one-third button is-primary" type="submit">
                    Subscribe
                </button>
            </div> -->
        </div>
    </div>

</div>
</div>
</section>