<div class="columns is-multiline">
    <div class="column is-half">
        <p>Verpasse keine Neuigkeiten!</p>
    </div>
    
    <div class="column">
        <div class="field has-addons has-addons-right">
            
            <p class="control is-expanded">
                <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Your email">
            </p>
            <p class="control"> 
                <button class="button is-primary" type="submit">
                    Anmelden
                </button>
            </p>
          </div>

        <!-- <div class="columns">
            <div class="column control is-expanded">
                <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Your email">
            </div>
            <button class="column is-one-third button is-primary" type="submit">
                Subscribe
            </button>
        </div> -->
    </div>
</div>


<!-- <div class="container">
    <div class="columns is-centered">
        <div class="column is-half">

            <form action="YOUR_MAILCHIMP_URL" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_f7fcffd059cde2df667ed71e0_b59497a580" tabindex="-1" value="">
                </div>

                <div class="mc-field-group">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Your email">
                        </div>
                        <div class="control">
                            <button class="button is-primary" type="submit">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </div>

                <div id="mce-responses">
                    <div class="response has-text-warning" id="mce-error-response" style="display:none"></div>
                    <div class="response has-text-success" id="mce-success-response" style="display:none"></div>
                </div>

            </form>

        </div>
    </div>
</div> -->

<!-- <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script> -->