<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">codeklasse</a>

      <!-- Burger menu: <span> elements determine the number of burger lines -->
      <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="#">Features</a>
        <a class="navbar-item" href="/about">Über uns</a>
        <a class="navbar-item" href="/blog">Blog</a>
        <div class="navbar-item has-dropdown is-hoverable">
      </div>
    </div>
  </div>
</nav>