<section class="tile is-ancestor has-background-primary section">
    <div class="tile is-parent is-9 has-background-primary-light border-color-primary-dark is-vertical">
        <figure class="tile is-child image-size-max-120">
            <img src="/emojis/earth-globe-europe-africa_1f30d.png">
            <img src="/emojis/waving-hand-sign_1f44b.png">
        </figure>
        
        <figure class="tile is-child image-size-max-120">
            <img src="/emojis/earth-globe-europe-africa_1f30d.png">
            <img src="/emojis/waving-hand-sign_1f44b.png">
        </figure>

        <figure class="tile is-child image-size-max-120">
            <img src="/emojis/earth-globe-europe-africa_1f30d.png">
            <img src="/emojis/waving-hand-sign_1f44b.png">
        </figure>
    </div>

    <div class="tile is-parent is-vertical">
        <figure class="tile is-child image-size-max-120">
            <img src="/emojis/earth-globe-europe-africa_1f30d.png">
            <img src="/emojis/waving-hand-sign_1f44b.png">
        </figure>

        <figure class="tile is-child image-size-max-120">
            <img src="/emojis/speech-balloon_1f4ac.png">
            <img src="/emojis/speaker-with-three-sound-waves_1f50a.png">
        </figure>

        <figure class="tile is-child image-size-max-120">
            <img src="/emojis/heavy-plus-sign_2795.png">
            <img src="/emojis/heavy-minus-sign_2796.png">
        </figure>

        <figure class="tile is-child image-size-max-120">
            <img src="/emojis/heavy-check-mark_2714.png">
            <img src="/emojis/cross-mark_274c.png">
        </figure>
    </div>
</section>