<section class="columns has-background-primary section">
    <div class="column is-8 has-background-primary-light border-color-primary-dark">


    </div>

    <div class="column columns is-multiline">
        <figure class="column is-third"><img src="/emojis/earth-globe-europe-africa_1f30d.png"></figure>
        <figure class="column is-third"><img src="/emojis/earth-globe-europe-africa_1f30d.png"></figure>
        <figure class="column is-third"><img src="/emojis/earth-globe-europe-africa_1f30d.png"></figure>
        <br>
        <figure class="column is-third"><img src="/emojis/earth-globe-europe-africa_1f30d.png"></figure>
        <span class="column is-third">💬</span>
        <span class="column is-third">👋</span>
        <span class="column is-third">🔊</span>
    </div>
</section>