{{ define "main"}}
<section class="section">
    <div class="container has-text-centered">
      <div class="columns is-centered is-multiline">
        <div class="column is-7">
          <h1 class="title is-1">404</h1>
          <p class="subtitle is-3">Entschuldigung!</p>
          <p>Die gewünschte Seite wurde nicht gefunden.</p>
        </div>
        <div class="column is-half">
            <a class="button is-primary is-fullwidth" href="/"><i class="fas fa-home"></i></a>
        </div>
      </div>
    </div>
</section>
{{ end }}