{{ define "main" }}
<div class="columns is-multiline">

    <section class="column is-12 has-background-primary is-medium section">
        <h2 class="title has-text-primary-invert">codeklasse</h2>
        <h3 class="subtitle has-text-primary-invert">Programmieren mit Emojis</h3>
        <!-- <h3 class="subtitle has-text-primary-invert">Programmieren ist eine Kernkompetenz der Zukunft</h3> -->

        <div class="columns">
            <div class="column is-3"></div>
            <div class="column"><img src="/images/hello-world-demo-codeklasse-gelb.png" alt="">
            <div class="column is-3"></div>
        </div>
    </section>

    <!-- <section class="column is-12 section">
        <div class="columns">
            <div class="column">
                {{ partial "product-demo.html" . }}
            </div>
        </div>
    </section> -->

    <section class="column is-12 section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h2 class="title is-spaced">Emoji Editor</h2>
                    <p class="subtitle">Let's get you connected! We've designed a simple, efficient process for
                        companies migrating to PiperNet. Here's how it works.</p>
                    <a class="button is-primary" href="#">Start Setup!</a>
                </div>
                <div class="column"><img src="/images/hello-world-demo-codeklasse-gelb.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="column is-12 has-background-primary my-6 section">
        <div class="container py-4">

            <div class="columns ">
                <section class="column mx-3">
                    <h2 class="column is-12 title has-text-centered has-text-justify-mobile mb-6 has-text-primary-invert">Für Lehrkräfte</h2>
                    <div class="columns is-multiline box has-text-centered">
                        <div class="column is-6">
                            <h4 class="title is-spaced is-5">Schneller Einstieg</h4>
                            <p class="subtitle is-6 has-text-left">Ausführliche Dokumentation und Coaching für den Blitzstart im Unterricht.</p>
                        </div>

                        <div class="column is-6">
                            <h4 class="title is-spaced is-5">Messbarer Erfolg</h4>
                            <p class="subtitle is-6 has-text-left">Ergebnisse der Klasse werden gespeichert. Verständnislücken schnell finden und Leistung messen</p>
                        </div>

                        <div class="column">
                            <h4 class="title is-spaced is-5">Einfache Unterrichtsvorbereitung</h4>
                            <p class="subtitle is-6 has-text-left">Aufgaben werden in Modullen verwaltet. Ein Modul = Ein neuer Lerninhalt. Keine Zeit? Bedienen Sie sich aus einer Bibliothek grundlegender Modulle.</p>
                        </div>
                    </div>
                </section>

                <section class="column mx-3">
                    <h2 class="column is-12 title has-text-centered has-text-justify-mobile mb-6 has-text-primary-invert">Für Schüler</h2>
                    <div class="columns is-multiline box has-text-centered">
                        <div class="column is-6">
                            <h4 class="title is-spaced is-5">Visuelles Lernen</h4>
                            <p class="subtitle is-6 has-text-left">Your data is stored in many places at once. Awesome, right?</p>
                        </div>
                        <div class="column is-6">
                            <h4 class="title is-spaced is-5">Sichtbarer Erfolg</h4>
                            <p class="subtitle is-6 has-text-justify-mobile">Kinder erstellen virtuelle Buddies. Jedes geschriebene Programm ist ein neuer "Trick" mit dem ihr Buddy wächst.</p>
                        </div>
                        <div class="my-4 column">
                            <h4 class="title is-spaced is-5">Allgemeine Programmierkenntnisse</h4>
                            <p class="subtitle is-6 has-text-left">Programmieren ist eine Kernkompetenz der Zukunft. Zeit unsere Kinder zukunftssicher zu machen.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="column is-12 has-text-centered-tablet has-background-info section">
        {{ partial "contact-form.html" . }}
    </section>

    <section class="column is-12 section">
        <!-- {{ partial "faq.html" . }} -->
    </section>
</div>
{{end}}