{{ define "main" }}

<section class="section">
    <div class="container has-text-centered py-4">
        <h2 class="title mb-6">Some of our awesome features</h2>
        <div class="block"><img class="is-16by9 mb-6"
                src="https://shuffle.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt=""></div>
        <div class="columns has-text-left mb-6">
            <div class="column is-4">
                <div class="columns">
                    <div class="column is-2"><img src="/placeholder/icons/check.svg" alt=""></div>
                    <div class="column is-10">
                        <h4 class="title is-spaced is-4">Security</h4>
                        <p class="subtitle is-6">Your data is virtually unhackable compared to traditional net</p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="columns">
                    <div class="column is-2"><img src="/placeholder/icons/check.svg" alt=""></div>
                    <div class="column is-10">
                        <h4 class="title is-spaced is-4">Privacy</h4>
                        <p class="subtitle is-6">Nobody is tracking you when your activity when you use Piper Net
                        </p>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="columns">
                    <div class="column is-2"><img src="/placeholder/icons/check.svg" alt=""></div>
                    <div class="column is-10">
                        <h4 class="title is-spaced is-4">Speed</h4>
                        <p class="subtitle is-6">Previously unimaginable transfer speed thanks to middle-out
                            compression</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons is-centered"><a class="button is-primary" href="#">Read more</a></div>
    </div>
</section>

<section class="section">
    <div class="container py-4">
        <h2 class="title has-text-centered mb-6">Some of our awesome features</h2>
        <div class="columns">
            <div class="column is-3">
                <h4 class="title is-spaced is-4">Decentralized</h4>
                <p class="subtitle is-6">Your data is stored in many places at once. Awesome, right?</p>
                <a href="#">Read more</a>
            </div>
            <div class="column is-3">
                <h4 class="title is-spaced is-4">Secure</h4>
                <p class="subtitle is-6">Nobody will be able to use your data without your consent.</p>
                <a href="#">Read more</a>
            </div>
            <div class="column is-3">
                <h4 class="title is-spaced is-4">Private</h4>
                <p class="subtitle is-6">Your online activity is only yours to know. Always.</p>
                <a href="#">Read more</a>
            </div>
            <div class="column is-3">
                <h4 class="title is-spaced is-4">Speed</h4>
                <p class="subtitle is-6">Unimaginable transfer speed thanks to middle-out compression.</p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container py-4">
        <h2 class="title has-text-centered mb-6">PiperNet Setup</h2>
        <div class="columns is-vcentered">
            <div class="column">
                <h2 class="title is-spaced">How to start</h2>
                <p class="subtitle">Let's get you connected! We've designed a simple, efficient process for
                    companies migrating to PiperNet. Here's how it works.</p>
                <a class="button is-primary" href="#">Start Setup!</a>
            </div>
            <div class="column"><img src="https://shuffle.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt="">
            </div>
        </div>
        <hr class="my-6">
        <div class="level">
            <div class="level-item">
                <div class="number has-background-primary">1</div>
                <h4 class="title is-4">Move</h4>
            </div>
            <div class="level-item">
                <div class="number">2</div>
                <h4 class="title is-4">Integrate</h4>
            </div>
            <div class="level-item">
                <div class="number">3</div>
                <h4 class="title is-4">Support</h4>
            </div>
        </div>
    </div>
</section>

{{ partial "faq.html" . }}

<section class="section">
    <div class="container py-4">
        <h2 class="title has-text-centered mb-6">Contact the Pied Piper team</h2>
        <div class="columns">
            <div class="column is-6">
                <h4 class="title is-spaced is-4">Let's talk about the future of the internet</h4>
                <p class="subtitle">We're here to answer your questions and discuss the decentralized future of the
                    internet.</p>
                <div>
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-24x24"><img src="/placeholder/icons/map-marker.svg" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>Pied Piper HQ - 59 Silicon Av.</p>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-24x24"><img src="/placeholder/icons/phone.svg" alt=""></figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>555-333-555</p>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-24x24"><img src="/placeholder/icons/envelope.svg" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>pay-the-piper@piedpiper.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-5 is-offset-1">
                <form>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="select is-fullwidth"><select>
                                <option disabled="" selected="">Select product</option>
                                <option>Product 1</option>
                                <option>Product 2</option>
                                <option>Product 3</option>
                            </select></div>
                    </div>
                    <div class="field">
                        <div class="control"><textarea class="textarea" rows="5"
                                placeholder="Write something..."></textarea></div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-fullwidth" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{end}}