<div class="columns">
    <section class="column mx-3">
        <h2 class="column title has-text-centered-mobile mb-6 has-text-primary-invert">Für Lehrkräfte</h2>
        <div class="columns is-multiline box has-text-centered">
            <div class="column is-6 has-text-left has-text-centered-mobile">
                <h4 class="title is-spaced is-5">Schneller Einstieg</h4>
                <p class="subtitle is-6 has-text-left-tablet">Ausführliche Dokumentation und Coaching für den Blitzstart im Unterricht.</p>
            </div>

            <div class="column is-6 has-text-left has-text-centered-mobile">
                <h4 class="title is-spaced is-5">Messbarer Erfolg</h4>
                <p class="subtitle is-6 has-text-left-tablet">Ergebnisse der Klasse werden gespeichert. Verständnislücken schnell finden und Leistung messen</p>
            </div>

            <div class="column has-text-left has-text-centered-mobile">
                <h4 class="title is-spaced is-5">Einfache Unterrichtsvorbereitung</h4>
                <p class="subtitle is-6 has-text-left-tablet">Aufgaben werden in Modullen verwaltet. Ein Modul = Ein neuer Lerninhalt. Keine Zeit? Bedienen Sie sich aus einer Bibliothek grundlegender Modulle.</p>
            </div>
        </div>
    </section>

    <div class="column is-3"></div>
</div>

<div class="columns">
    <div class="column is-3"></div>

    <section class="column mx-3">
        <h2 class="column is-12 title has-text-centered-mobile mt-6 has-text-primary-invert">Für Schüler</h2>
        <div class="columns is-multiline box">
            <div class="column is-6 has-text-centered-mobile">
                <h4 class="title is-spaced is-5">Visuelles Lernen</h4>
                <p class="subtitle is-6">Your data is stored in many places at once. Awesome, right?</p>
            </div>
            <div class="column is-6 has-text-centered-mobile">
                <h4 class="title is-spaced is-5">Sichtbarer Erfolg</h4>
                <p class="subtitle is-6 has-text-left-tablet">Kinder erstellen virtuelle Buddies. Jedes neue Programm ist ein neuer "Trick" mit dem ihr Buddy wächst.</p>
            </div>
            <div class="my-4 column has-text-centered-mobile">
                <h4 class="title is-spaced is-5">Allgemeine Programmierkenntnisse</h4>
                <p class="subtitle is-6">Programmieren ist eine Kernkompetenz der Zukunft. Zeit unsere Kinder zukunftssicher zu machen.</p>
            </div>
        </div>
    </section>
</div>