<section class="columns">
    <div class="column is-1"></div>

    <div class="column notification is-primary has-text-left has-text-primary-invert">
        <div class="columns is-multiline">
            <div class="column is-2"></div>
            
            <figure class="column is-6">
                <img src="/images/sergej_grilborzer.jpg"
                    alt="Portrait von Sergej Grilborzer, Gründer des Unternehmens codeklasse">
            </figure>
            <hr>

            <p class="column">
                <h2 class="title">Hi, mein Name ist Sergej Grilborzer</h2>
                <h3 class="subtitle has-text-justify">und ich sollte "damals"
                    Lehrer werden*.
                    Heute bin ich Gründer von codeklasse und <span class="has-text-weight-bold">Software Entwickler mit
                        Passion für Bildung</span>.
                </h3>
                <small class="is-size-7">*Laut den engagierten Abiturlehrern die mich dazu ermutigt hatten
                    :)</small>
            </p>
            <hr>

        </div>
    </div>

    <div class="column">
        <section class="tile is-child has-text-left">
            <h2 class="title has-text-primary-invert">Fragen, Interesse, Feedback?</h2>
            <!-- <h3 class="subtitle has-text-primary-invert">Ich freue mich auf's Gespräch!</h3> -->
            <h3 class="subtitle has-text-primary-invert">Lassen Sie es mich wissen <span class="icon"><i
                        class="fas fa-arrow-down"></i></span> </h3>
            <hr>

            <div class="field icon-text is-large">
                <span class="icon"><i class="fas fa-envelope fa-lg"></i></span>
                <span><a class="has-text-primary-invert has-text-weight-bold"
                        href="mailto:sergej@codeklasse.de">sergej@codeklasse.de</a></span>
            </div>
            <div class="field icon-text">
                <span class="icon"><i class="fab fa-linkedin fa-lg"></i></span>
                <span><a class="has-text-primary-invert has-text-weight-bold"
                        href="https://www.linkedin.com/in/sergej-grilborzer-b28736205"
                        target="_blank">LinkedIn</a></span>
            </div>
            <!-- <div class="field icon-text">
                <span class="icon"><i class="fab fa-facebook fa-lg"></i></span>
                <span>Facebook - Direktnachricht</span>
            </div> -->
            <!-- <hr> -->

            <h2 class="title has-text-primary-invert pt-4">.. oder abonnieren Sie den Newsletter</h2>

            <div class="field icon-text is-large">
                <span class="icon"><i class="fas fa-check"></i></span>
                <!-- <span><a href="mailto:sergej@codeklasse.de">sergej@codeklasse.de</a></span> -->
                <span>Ein monatliches Update zum Projekt</span>
            </div>
            <div class="field icon-text">
                <span class="icon"><i class="fas fa-check"></i></span>
                <span>Ein Klick zum Abbestellen</span>
            </div>
            <div class="field icon-text">
                <span class="icon"><i class="fas fa-check"></i></span>
                <span>Vertrauliche Datenbehandlung. <br> Mehr zu unserem <a
                        class="has-text-primary-invert has-text-weight-bold" href="/privacy"
                        target="_blank">Datenschutz</a>.</span>
            </div>

            <div class="field">
                {{ partial "contact/newsletter.html" . }}
            </div>
        </section>
    </div>

</section>


<div class="tile is-ancestor">
    <div class="tile is-parent">
        <section class="tile is-child has-text-centered">
            <p class="field"><u class="subtitle has-text-primary-invert">Meine persönliche Mission..</u></p>
            <h2 class="field title has-text-primary-invert">.. ist Kindern das Programmieren lernen zu erleichtern.
            </h2>
        </section>
    </div>
</div>

<!-- MailerLite baggage -->
<script>
	function ml_webform_success_3887371(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-3887371 .row-success").show(),r(".ml-subscribe-form-3887371 .row-form").hide()}
</script>
<img src="https://track.mailerlite.com/webforms/o/3887371/g6n9a3?v1618250158" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>