<section class="columns">
    <div class="column is-1"></div>

    <div class="column notification is-primary has-text-left has-text-primary-invert">
        <div class="columns is-multiline">
            <div class="column is-2"></div>
            
            <figure class="column is-6">
                <img src="/images/sergej_grilborzer.jpg"
                    alt="Portrait von Sergej Grilborzer, Gründer des Unternehmens codeklasse">
            </figure>
            <hr>

            <p class="column">
                <h2 class="title">Hi, mein Name ist Sergej Grilborzer</h2>
                <h3 class="subtitle has-text-justify">und ich sollte "damals"
                    Lehrer werden*.
                    Heute bin ich Gründer von codeklasse und <span class="has-text-weight-bold">Software Entwickler mit
                        Passion für Bildung</span>.
                </h3>
                <small class="is-size-7">*Laut den engagierten Abiturlehrern die mich dazu ermutigt hatten
                    :)</small>
            </p>
            <hr>

        </div>
    </div>

    <div class="column">
        <section class="tile is-child has-text-left">
            <h2 class="title has-text-primary-invert">Fragen, Interesse, Feedback?</h2>
            <!-- <h3 class="subtitle has-text-primary-invert">Ich freue mich auf's Gespräch!</h3> -->
            <h3 class="subtitle has-text-primary-invert">Lassen Sie es mich wissen <span class="icon"><i
                        class="fas fa-arrow-down"></i></span> </h3>
            <hr>

            <div class="field icon-text is-large">
                <span class="icon"><i class="fas fa-envelope fa-lg"></i></span>
                <span><a class="has-text-primary-invert has-text-weight-bold"
                        href="mailto:sergej@codeklasse.de">sergej@codeklasse.de</a></span>
            </div>
            <div class="field icon-text">
                <span class="icon"><i class="fab fa-linkedin fa-lg"></i></span>
                <span><a class="has-text-primary-invert has-text-weight-bold"
                        href="https://www.linkedin.com/in/sergej-grilborzer-b28736205"
                        target="_blank">LinkedIn</a></span>
            </div>
            <!-- <div class="field icon-text">
                <span class="icon"><i class="fab fa-facebook fa-lg"></i></span>
                <span>Facebook - Direktnachricht</span>
            </div> -->
            <!-- <hr> -->

            <h2 class="title has-text-primary-invert pt-4">.. oder abonnieren Sie den Newsletter</h2>

            <div class="field icon-text is-large">
                <span class="icon"><i class="fas fa-check"></i></span>
                <!-- <span><a href="mailto:sergej@codeklasse.de">sergej@codeklasse.de</a></span> -->
                <span>Ein monatliches Update zum Projekt</span>
            </div>
            <div class="field icon-text">
                <span class="icon"><i class="fas fa-check"></i></span>
                <span>Ein Klick zum Abbestellen</span>
            </div>
            <div class="field icon-text">
                <span class="icon"><i class="fas fa-check"></i></span>
                <span>Vertrauliche Datenbehandlung. <br> Mehr zu unserem <a
                        class="has-text-primary-invert has-text-weight-bold" href="/privacy"
                        target="_blank">Datenschutz</a>.</span>
            </div>

            <div class="field control has-icons-left has-icons-right mt-6">
                <input class="input" type="email" placeholder="max@musterfrau.de">

                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>

                <span class="icon is-large is-right">
                    <i class="fas fa-check fa-lg"></i>
                </span>
            </div>

            <div class="is-third control is-expanded">
                <p class="control">
                    <button class="button is-info-inverted is-fullwidth" type="submit">
                        Newsletter abonnieren
                    </button>
                </p>
            </div>
        </section>
    </div>

</section>


<div class="tile is-ancestor">
    <div class="tile is-parent">
        <section class="tile is-child has-text-centered">
            <p class="field"><u class="subtitle has-text-primary-invert">Meine persönliche Mission..</u></p>
            <h2 class="field title has-text-primary-invert">.. ist Kindern das Programmieren lernen zu erleichtern.
            </h2>
        </section>
    </div>
</div>