<div class="columns">
    <section class="column mx-3">
        <h2 class="column is-12 title has-text-centered-mobile mt-6 has-text-primary-invert icon-text">
            <span>Für Lehrkräfte</span>
            <span class="icon">
                <i class="fas fa-chalkboard-teacher"></i>
            </span>
        </h2>

        <div class="columns is-multiline box has-text-centered">
            <div class="column is-6 has-text-left has-text-centered-mobile">
                <p class="">
                    <span class="icon">
                        <i class="fas fa-bolt"></i>
                    </span>
                    <span class="title is-spaced is-5">Schneller Einstieg</span>
                </p>
                <p class="subtitle is-6 has-text-left">Ausführliche Dokumentation und Coaching für den Blitzstart im Unterricht.</p>
            </div>

            <div class="column is-6 has-text-left has-text-centered-mobile">
                <p class="">
                    <span class="icon">
                        <i class="fas fa-chart-bar"></i>
                    </span>
                    <span class="title is-spaced is-5">Messbarer Erfolg</span>
                </p>
                <p class="subtitle is-6 has-text-left">Ergebnisse der Klasse werden gespeichert, um Verständnislücken schnell zu finden und Leistung zu messen.</p>
            </div>

            <div class="column has-text-left has-text-centered-mobile">
                <p class="">
                    <span class="icon">
                        <i class="fas fa-puzzle-piece"></i>
                    </span>
                    <span class="title is-spaced is-5">Einfache Unterrichtsvorbereitung</span>
                </p>
                <p class="subtitle is-6 has-text-left">Inhalte werden in Modullen verwaltet. Bibliothek von Grundmodullen inklusiv.</p>
            </div>
        </div>
    </section>

    <div class="column is-3"></div>
</div>

<div class="columns">
    <div class="column is-3"></div>

    <section class="column mx-3">
        <h2 class="column is-12 title has-text-centered-mobile mt-6 has-text-primary-invert icon-text">
            <span>Für Schüler</span>
            <span class="icon">
                <i class="fas fa-child"></i>
            </span>
        </h2>

        <div class="columns is-multiline box">
            <div class="column is-6 has-text-centered-mobile">
                <p class="">
                    <span class="icon">
                        <i class="fas fa-eye"></i>
                    </span>
                    <span class="title is-spaced is-5">Visuelles Lernen</span>
                </p>
                <p class="subtitle is-6 has-text-left">Menschen lernen visuell. Das geht auch beim Programmieren!</p>
            </div>

            <div class="column is-6 has-text-centered-mobile">
                <p class="">
                    <span class="icon">
                        <i class="fas fa-paw"></i>
                    </span>
                    <span class="title is-spaced is-5">Erfolg der begleitet</span>
                </p>
                <p class="subtitle is-6 has-text-left">Kinder erstellen "virtuelle Haustiere". Jedes neu geschriebene Programm ist ein "Trick" den der Gefährte lernt.</p>
            </div>

            <div class="my-4 column has-text-centered-mobile">
                <p class="">
                    <span class="icon">
                        <i class="fas fa-lightbulb"></i>
                    </span>
                    <span class="title is-spaced is-5">Allgemeine Programmierkenntnisse</span>
                </p>
                <p class="subtitle is-6 has-text-left">Programmieren ist eine Kernkompetenz der Zukunft. codeklasse vermittelt grundlegende Konzepte wie Anweisungen, Schleifen, Bedingungen und Funktionen.</p>
            </div>
        </div>
    </section>
</div>