<section class="tile is-ancestor has-background-primary section">
    <div class="tile is-parent is-vertical">
        <figure class="tile is-child image-size-max-120">
            <div class="columns">
                <img class="column" src="/emojis/earth-globe-europe-africa_1f30d.png">
                <img class="column" src="/emojis/waving-hand-sign_1f44b.png">
            </div>
        </figure>

        <figure class="tile is-child image-size-max-120">
            <div class="columns">
                <img class="column" src="/emojis/speech-balloon_1f4ac.png">
                <img class="column" src="/emojis/speaker-with-three-sound-waves_1f50a.png">
                <!-- <img class="column" src="/emojis/robot-face_1f916.png"> -->
            </div>
        </figure>

        <figure class="tile is-child image-size-max-120">
            <div class="columns is-multiline">
                <img class="column" src="/emojis/heavy-check-mark_2714.png">
                <img class="column" src="/emojis/cross-mark_274c.png">
            </div>
        </figure>

        <figure class="tile is-child image-size-max-120">
            <div class="columns">
                <img class="column" src="/emojis/heavy-plus-sign_2795.png">
                <img class="column" src="/emojis/heavy-minus-sign_2796.png">
            </div>
        </figure>
    </div>

    <div class="tile is-parent is-9 has-background-primary-light border-color-primary-dark is-vertical">
        <figure class="tile is-child image-size-max-120 ">
            <div class="columns">
                <img class="column" src="/emojis/waving-hand-sign_1f44b.png">
                <img class="column" src="/emojis/earth-globe-europe-africa_1f30d.png">
            </div>
        </figure>
        
        <figure class="tile is-child image-size-max-120 py-5">
            <div class="columns">
                <img class="column" src="/emojis/speech-balloon_1f4ac.png">
                <p class="column is-size-1 has-text-dark is-vcentered">Hallo Welt!</p>
            </div>
        </figure>

        <figure class="tile is-child image-size-max-120 ">
            <div class="columns">
                <img class="column" src="/emojis/speaker-with-three-sound-waves_1f50a.png">
                <img class="column" src="/emojis/speech-balloon_1f4ac.png">
                <p class="column is-size-1 has-text-dark is-vcentered">Hallo Welt!</p>
            </div>
        </figure>

        <!-- <figure class="tile is-child image-size-max-120 py-5">
            <div class="columns">
                <p class="column is-1 is-size-1 has-text-dark is-vcentered">1</p>
                <img class="column is-1" src="/emojis/heavy-plus-sign_2795.png">
                <p class="column is-1 is-size-1 has-text-dark is-vcentered">1</p>
            </div>
        </figure> -->
    </div>

    
</section>