---
layout: default

---

<div class="navbar-fixed-top-padding">
    <nav
        class="breadcrumb"
        aria-label="breadcrumbs"
    >
        <ul>
            <li><a
                    class="has-text-weight-bold"
                    href="/faq"
                >Häufig gestellte Fragen</a></li>
            <li class="is-active"><a
                    href="#"
                    aria-current="page"
                >{{ page.title }}</a></li>
        </ul>
    </nav>

    <section class="container has-background-white has-border mx-3 py-6 mb-6">
        <div class="has-text-centered pb-6-desktop pb-5-touch">
            {% include title-h2.html text=page.title %}
        </div>

        <div class="is-size-5-desktop is-size-6-mobile px-6 px-4-mobile">
            <div class="underline-links-in-posts">
                {{ content }}
            </div>

            <div class="is-flex is-justify-content-center pt-6-desktop pt-5-touch">
                <a
                    id="faq-contact-button"
                    class="button is-primary wrap-button-text"
                    href="mailto:sergej@codeklasse.de"
                >Fragen offen? Wir freuen uns von Ihnen zu hören!</a>
            </div>
        </div>
    </section>
</div>

<style>
    .navbar-fixed-top-padding {
        padding-top: 3.25rem;
    }

    .underline-links-in-posts a {
        text-decoration: underline;
    }
</style>