---
layout: default

---

<div class="navbar-fixed-top-padding">
    <nav
        class="breadcrumb"
        aria-label="breadcrumbs"
    >
        <ul>
            {% if site.lang == "de" %}
            {% assign faq_link = "/faq" %}
            {% elsif site.lang == "en" %}
            {% capture faq_link %}/{{ site.lang }}/faq{% endcapture %}
            {% else %}
            {% assign faq_link = "/faq" %}
            {% endif %}

            <li><a
                    class="has-text-weight-bold"
                    href="{{ faq_link }}"
                >{% t navigation_headlines.faq %}</a></li>
            <li class="is-active"><a
                    href="#"
                    aria-current="page"
                >{% t page.title %}</a></li>
        </ul>
    </nav>

    <section class="container has-border has-box-shadow-no-hover-effect mx-3 py-6 mb-6">
        <div class="has-text-centered pb-6-desktop pb-5-touch">
            {% include title-h2.html text=page.title is_translate_key=true %}
        </div>

        <div class="is-size-5-desktop is-size-6-mobile px-6 px-4-mobile">
            <div class="underline-links-in-posts">
                {{ content }}
            </div>

            <div class="is-flex is-justify-content-center pt-6-desktop pt-5-touch">
                <a
                    id="faq-contact-button"
                    class="button is-primary wrap-button-text"
                    href="mailto:sergej@codeklasse.de"
                >{% t buttons.faq_get_in_touch %}</a>
            </div>
        </div>
    </section>
</div>

<style>
    .navbar-fixed-top-padding {
        padding-top: 3.25rem;
    }
</style>