---
layout: default
---

<section class="my-3">
    <h2 class="title is-2-tablet">{{ page.title }}</h2>
    <p>Zuletzt aktualisiert: {{ page.last_updated_date }}</p>
    <br>
    <br>

        <div class="content is-size-5-tablet">
            {{ content }}
        </div>
</section>


<!-- <section class="my-3 px-6">
    <h2 class="title is-2">{{ page.title }}</h2>

    <div class="columns is-multiline">
        <section class="column content container is-size-5">
             content }}
        </section>
    </div>
</section> -->